
</br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Outsourced Machines</h3>
                <%=render 'layouts/submenu' %>
            </div>
            <div class="panel-body">
                <%=form_for @cost_oper_machine_cont, url: cost_oper_machine_conts_path,:html => { class: 'form-inline' } do |f| %>
                    <div class="col-sm-12">
                        </br>
                        <div class="row">
                            <div class="form-group col-xs-6 col-sm-6">
                                <%= f.label :farming_plot_id%>  
                                <%= f.select :farming_plot_id, options_for_select(@farming_plots),{},{required: 'true', autofocus: 'true',prompt: "----CHOOSE", class: 'form-control'}%> 

                              </div>
                          </div>
                          <div class="row"></br>
                              <div class="form-group col-xs-10">
                                  <div class="form-group col-xs-2 col-sm-2">
                                      <label>Type Of Service  </label>
                                      <%= select("type_service","type_of_service_id", options_for_select(@type_services), {}, {required: 'true', class: "form-control", include_blank: ''})%>                        
                                    </div>

                                    <div class="form-group col-xs-2 col-sm-2">                               
                                        <label for="amount">Amount</label>                            
                                        <input id="amount" class="form-control"/>
                                    </div>                                    
              
                                    <div class="form-group col-xs-2 col-sm-2">                               
                                        <a href="#" class="btn btn-default" id="agregarCostOper">ADD</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div id="detalhes-container">
                            <table id="tabla" class=" table ">
                                <thead>
                                    <tr>                                        
                                        <th>Type Of Service</th> 
                                        <th>Precio</th>
                                        <th>amount</th> 
                                        <th>Subtotal</th>
                                        <th colspan="3"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--agrego de forma dinamica-->

                                </tbody>
                                <tfoot> <tr>                                         
                                        <th id="15">Total</th>
                                        <th></th><th></th><th id="TOTAL"></th>
                                    </tr>
                                </tfoot>

                            </table>
                            <div id="addFilas">

                            </div>
                          <%end%>
                      </div>
                      <input type="text" name="cost_oper_machine_conts[total]" id="totalValue"/>
                  </div>
              </div>
          </div>
      </div>