<div class="table-responsive">
   <table data-width="100%"  
      data-flat="true"
      data-response-handler="flatJSON"
      data-search="true"                
      class="table table-hover table-striped table-condensed display" 
      data-toggle="table"
      data-show-toggle="true"                
      data-show-refresh="false" 
      data-pagination="true" 
      onlyInfoPagination="false" 
      data-icons="icons" data-sort-name="program_production_id" data-sort-order="desc" 
      data-card-view="false"
   >
		<thead>
			<tr>
				<th data-width='20' data-field="id" data-checkbox="false">#</th>
				<th data-width='20'data-field="code" data-sortable="true">Cod</th> 
				<th data-field="program_production_id" data-sortable="true">Parcela</th> 
				<th data-field="type_of_crop_id" data-sortable="true">Tipo de cultivo</th> 
				<th data-align="right" data-field="total">Total</th>
				<th data-width='80' data-formatter="actionFormatter" data-align="right" data-events="actionEvents">Acción</th>
			</tr>
		</thead>
		<tbody>
			<% @cost_oper_machine_conts.each do |machine_cont| %>
			<tr>
				<td><%= machine_cont.id %></td>
				<td><%= machine_cont.id %></td>
				<td><%= machine_cont.program_production.estimate_sale.farming_plot.name %></td>
				<td><%= machine_cont.program_production.estimate_sale.type_of_crop.name %></td>
				<td><%= number_with_precision(machine_cont.total, :precision => 0, :delimiter => '.' ) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<input type="hidden" id="controller" value="<%= controller_name%>">
