<div class="panel-body">
    <%= form_for( @farming_plot, html: {class: 'form-horizontal', id:'form_farming_plots', remote:true}) do |f| %>
      <div class="row-fluid">
          <div class="col-sm-12 col-xs-12">
              <div class="form-group">  
                  <%= f.label :code,"Codigo:",class: "control-label col-sm-1"%>
                   <div class="col-sm-2">
                       <%= f.text_field :code, class: "form-control", :placeholder =>"automatico", :readonly => true %>
                        <p class="help-block"> <%= f.object.errors[:code].to_sentence if f.object.errors[:code] %></p>
                    </div>
                </div>
                <div class="form-group">  
                    <%= f.label :name,"Nombre:",class: "col-sm-1 control-label" %>
                     <div class="col-sm-2">
                         <%= f.text_field :name,autofocus: true , class: "form-control" ,onblur: "this.value=this.value.toUpperCase()" ,:pattern => "[a-zA-Z-0-9 ]+", :"data-error"=>"Verifique si el dato esta correcto.", :maxlength => "40", :required => true  %>
                          <div class="help-block"> <%= f.object.errors[:name].to_sentence if f.object.errors[:name] %></div>
                      </div>
                  </div>
                  <div class="form-group">  
                      <%= f.label :area,"Area:",class: "control-label col-sm-1"  %> 
                       <div class="col-sm-2">
                           <div class="input-group">
                               <%= f.text_field :area,autofocus: true , :type => "number",:step => ".1",  class: "form-control", :"data-error"=>"Verifique si el dato esta correcto.", :maxlength => "10", :required => true   %>
                                <span class="input-group-addon" id="basic-addon2">Ha</span>                                         
                            </div>
                            <p class="help-block"> <%= f.object.errors[:area].to_sentence if f.object.errors[:area] %></p>   
                        </div>  
                    </div> 
                    <div class="form-group">  
                        <%= f.label  "Encargado:",class: "col-sm-1 control-label"  %>
                         <div class="col-sm-2">
                             <%= f.select :person_id, options_for_select(@person, f.object.person_id), {}, { :class => 'form-control' ,:required => true}%>
                             <p class="help-block"> <%= f.object.errors[:person_id].to_sentence if f.object.errors[:person_id] %></p>
                         </div>

                     </div>
                     <div class="form-group">  
                         <%= f.label :description,class: "col-sm-1 control-label"  %>
                          <div class="col-sm-2">
                              <%= f.text_area :description,autofocus: true , class: "form-control" %>
                           </div>
                       </div>

                       <%= render('layouts/error_lists')%>

                       <div class="col-sm-4 col-sm-offset-1">
                           <% if controller.action_name == "edit" ||  controller.action_name == "update" %>
                            <%= link_to "../../farming_plots", :controller => "farming_plots", :action => "index", :type => "button", :class =>"btn btn-danger" do  %>                              
                             Cancelar                       
                            <%end%>  
                           <%else%>
                            <button type="reset" class="btn btn-danger btn-space">Cancelar</button>
                           <% end%>
                           <% if controller.action_name == "new"  ||  controller.action_name == "create"%>
                            <button type="submit" class="btn btn-success">Guardar</button>
                           <%else%>
                            <button type="submit" class="btn btn-success">Actualizar</button>
                           <% end%>
                       </div>
                   </div>
               </div>
               <input type="hidden" id="controller" value="<%= controller_name%>">
              <%end%>
          </div>