<%= form_for(farming_plot) do |f| %>
  <% if farming_plot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farming_plot.errors.count, "error") %> prohibited this farming_plot from being saved:</h2>

      <ul>
      <% farming_plot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :type_of_crop_id %>
    <%= f.select("type_of_crop_id", @type_of_crops)%>
  </div>

<div class="field">
    <%= f.label :employee_id %>
    <%= f.select("employee_id", @employees)%>
  </div>

  <div class="field">
    <%= f.label :culture_period_start %>
    <%= f.date_select :culture_period_start %>
  </div>

  <div class="field">
    <%= f.label :culture_period_end %>
    <%= f.date_select :culture_period_end %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
