<% @farming_plots.each do |farm| %>
  <tr>                      
        <td><%= farm.id %></td>
        <td><%= farm.code %></td>
        <td><%= farm.name %></td>
        <td><%= farm.area %></td>
        <td><%= farm.person.name %></td>
        <td class="hidden-xs"><%= farm.description %></td>
  </tr>
<% end %>
