

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Farming PLot</h3></div>
            <%=render 'layouts/submenu' %>
            <div class="panel-body">
                <table data-toggle="table" data-url="farming_plots"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="id" data-checkbox="true">Item ID</th>
                            <th data-field="code" >Code</th> 
                            <th data-field="name" >Name</th>                            
                            <th data-field="area"  data-sortable="true">Area</th>
                            <th data-field="type_of_crop_id" > Type of crop</th>
                            <th data-field="employee_id">Employee</th>
                            <th data-field="culture_period_start" data-sortable="true">Culture period start</th>
                            <th data-field="culture_period_end" data-sortable="true">Culture period end</th>
                            <th data-field="description">Description</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @farming_plots.each do |farm| %>
                          <tr>
                              <td><%= farm.id%></td>
                              <td><%= farm.code %></td>
                              <td><%= farm.name %></td>
                              <td><%= farm.area %></td>
                              <td><%= farm.type_of_crop.name %></td>
                              <td><%= farm.employee.name %></td>
                              <td><%= farm.culture_period_start %></td>
                              <td><%= farm.culture_period_end %></td>
                              <td><%= farm.description %></td>
                              <td class="col-md-1">
                                  <%= link_to edit_farming_plot_path(farm) do %>
                                    <i class="fa fa-2x fa-edit"></i>
                                  <% end %>
                                  <%= link_to    farm, method: :delete, data: { confirm: 'Are you sure?' }  do%>
                                    <i class="fa fa-2x fa-minus"></i>
                                  <% end %>
                              </td>

                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>