<div class="panel-body">
   <%= form_for( @manu_indi_expense, html: { id: 'form_manu_indi_expenses', remote:true,"data-type": "json",'data-model' => 'manu_indi_expense'}) do |f| %>

      <div class="col-sm-6 col-lg-12 col-md-12 col-xs-12">
         <% if manu_indi_expense.errors.any? %>
            <div id="error_explanation">
               <h2><%= pluralize(manu_indi_expense.errors.count, "error") %> prohibited this manu_indi_expense from being saved:</h2>

               <ul>
                  <% manu_indi_expense.errors.full_messages.each do |message| %>
                     <li><%= message %></li>
                  <% end %>
               </ul>
            </div>
         <% end %>

            <div class="row">
               <div class="col-md-4">
                  <div class="form-group">
                     <%= f.label :program_production_id,"Descripción del gasto :" ,class: " col-sm-6 col-lg-10 col-xs-12"%>
                        <input type="text" name="manu_indi[descr_expense]" id="manu_indi_descr_expense" class="form-control" required/>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     <%= f.label :program_production_id,"Tipo de gasto:" ,class: "col-sm-6 col-lg-8 col-xs-12" %>
                    <%= select("manu_indi", "type_expense", options_for_select([['FIJO', 1], ['VARIABLE', 0]]),{}, {class: "form-control",required: true})%>

                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     <%= f.label :program_production_id,"Monto del gasto :" ,class: "col-sm-6 col-lg-10 col-xs-12"%>
                     <input type="text" name="manu_indi[subtotal]" id="manu_indi_subtotal"  class="form-control text-right" required/>
                  </div>
               </div>
                  <btn><a class="btn btn-default btn-sm align_btn" id="btn_add_manu_indi_expense">Agregar</a></btn>
            </div>

            <table 
            id="tb_manu_indi_expense"
            data-width="100%"  
            data-search="false"                
            class="table table-hover table-striped table-condensed display" 
            data-toggle="table"
            data-show-toggle="false"                
            data-show-refresh="false" 
            data-pagination="true" 
            onlyInfoPagination="false" 
            data-icons="icons" data-sort-name="code" data-sort-order="asc" 
            data-card-view="false"
            data-checkbox-header="false"
            >
               <thead>
                  <tr>
                     <th data-field="id" data-checkbox="true" data-checkbox-header="false"></th>
                     <th data-field="code">#</th>
                     <th data-field="descr_expense">Descripción del gasto</th>
                     <th data-field="descr_expense_id"></th>
                     <th data-field="type_expense">Tipo del gasto</th>
                     <th data-field="type_expense_id"></th>
                     <th data-field="subtotal">Monto</th>
                     <th data-field="subtotal_id"></th>
                     <th data-halign='right' data-align='right' data-field="Action" data-events="remove">Acción</th>
                  </tr>
               </thead>
               <tbody>
                  <% if (controller.action_name == "edit") %>
                        <% @manu_details.each do |manu_indi_expense_dets| %>
                        <tr>
                           <td style="display:none"><%= manu_indi_expense_dets.id%></td>
                           <td ><%= manu_indi_expense_dets.id%></td>
                           <td ><%= manu_indi_expense_dets.name %></td>
                           <td style="display:none"><!--vacio al crear nuevo --></td>
                           <td><%= manu_indi_expense_dets.isFixed ? "fijo" : "variable"%></td>
                           <td style="display:none"><!--vacio al crear nuevo --></td>
                           <td><%= number_with_precision( manu_indi_expense_dets.subtotal, :precision => 0, :delimiter => '.' ) %></td>                  
                           <td style="display:none"></td>
                           <td>
                              <a class="change_status btn btn-danger btn-sm" href="" title="Cambiar status" >
                                 <i class="fa fa-minus-square"></i>
                              </a>
                           </td>
                        </tr>
                     <% end %>   
                  <% end %>
               </tbody>                    
               <tfoot>
                  <tr>
                     <td class="h6 font-weight-bold" colspan="2"><strong>TOTAL FIJO :<strong></td>
                     <td colspan="11" class="font-weight-bold text-right">
                     <strong><span class="manu_indi_expe_total_fixed"> <%= @total_fixed %></span><strong>
                     </td>
                  </tr>
                 <tr>
                     <td class="h6 font-weight-bold" colspan="2"><strong>TOTAL VARIABLE :<strong></td>
                     <td colspan="11" class="font-weight-bold text-right">
                        <strong><span class="manu_indi_expe_total_variable"><%= @total_variable %></span><strong>
                     </td>
                 </tr>
                <tr>
                  <td class="h6 font-weight-bold" colspan="2"><strong>TOTAL FIJO & VARIABLE :<strong></td>
                  <td colspan="11" class="font-weight-bold text-right">
                     <strong><span class="manu_indi_expe_total_fixed_and_variable"><%= @total_fixed_and_variable %></span><strong>
                  </td>
                 </tr>
               </tfoot>
               <div id="add_row_cost_oper_cont"></div>
            </table>
         <%= render('layouts/buttons')%>
         <%= f.hidden_field :program_production_id, :value => @program_production_id %>
         <%= f.hidden_field :total_fixed, :value => @total_fixed ,:class => "manu_indi_expe_total_fixed" %>
         <%= f.hidden_field :total_variable, :value => @total_variable, :class => "manu_indi_expe_total_variable" %>
         <%= f.hidden_field :total, :value => @total_fixed_and_variable, :class => "manu_indi_expe_total_fixed_and_variable"%>
      </div>

   <% end %>
</div>
<input type="hidden" id="controller" value="<%=controller_name%>">
