<div class="panel-body">
   <div class="table-responsive">
      <table    
              id="tb_manu_indi_expenses"  
              data-width="100%"
              class="table table-hover table-striped table-condensed display"
              data-toggle="table" 
              data-search="true" 
              data-toolbar="toolbar1"
              data-show-toggle="true"
              data-show-refresh="false"
              data-pagination="true"
              onlyInfoPagination="false"
              data-icons="icons"
              data-height="380"
              data-sort-name="name"
              data-sort-order="desc" 
              data-card-view="false">
         <thead>
            <tr>
               <th data-field="id" data-checkbox="false">#</th>
               <th data-field="program_production_id">Parcela</th>
               <th data-field="total_fixed" >Total de gastos fijos</th> 
               <th data-field="total_variable" >Total de gastos variables</th>  
               <th data-field="totalFixedAndVariable" >Total de gastos fijos y variables</th>  
               <th data-formatter="actionFormatter" data-align="right" data-events="actionEvents">Acción</th>
            </tr>
         </thead>
         <tbody>
            <% @manu_indi_expenses.each do |manu_indi_expense| %>
              <tr>
                <td><%= manu_indi_expense.id %></td>
                <td><%= manu_indi_expense.program_production.estimate_sale.farming_plot.name %></td>
                <td><%= manu_indi_expense.total_fixed %></td>
                <td><%= manu_indi_expense.total_variable %></td>
                <td><%= manu_indi_expense.totalFixedAndVariable %></td>
              </tr>
            <% end %>
         </tbody>
      </table>
   </div>
</div>
<input type="hidden" id="controller" value="<%= controller_name%>">



<%= link_to 'New Manu Indi Expense', new_manu_indi_expense_path %>
<%= link_to 'New Man Power', new_man_power_path %>
