<p id="notice"><%= notice %></p>

<h1>Manu Indi Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Program production</th>
      <th>Chart of account</th>
      <th>Total fixed</th>
      <th>Total variable</th>
      <th>Totalfixedandvariable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manu_indi_expenses.each do |manu_indi_expense| %>
      <tr>
        <td><%= manu_indi_expense.program_production %></td>
        <td><%= manu_indi_expense.chart_of_account %></td>
        <td><%= manu_indi_expense.total_fixed %></td>
        <td><%= manu_indi_expense.total_variable %></td>
        <td><%= manu_indi_expense.totalFixedAndVariable %></td>
        <td><%= link_to 'Show', manu_indi_expense %></td>
        <td><%= link_to 'Edit', edit_manu_indi_expense_path(manu_indi_expense) %></td>
        <td><%= link_to 'Destroy', manu_indi_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manu Indi Expense', new_manu_indi_expense_path %>
<%= link_to 'New Man Power', new_man_power_path %>
 <input type="text" id="controller" value="<%= controller_name%>">