<%= form_for(cons_raw_material) do |f| %>
  <% if cons_raw_material.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(cons_raw_material.errors.count, "error") %> prohibited this consumption_of_raw_material from being saved:</h2>

        <ul>
            <% cons_raw_material.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>





  <input type="text" name="cons_raw_material[program_production_id]" value="<%= @program_production%>"%>

  <input type="text" id="area_plot" value="<%=@area_plot%>">

  <label>Supply</label>
  <%= select("insumos","supply_id", options_for_select(Supply.all.collect {|p| [ p.tradename, p.id, {"data-price-supply"=>p.price, "data-dosage-supply"=>p.dosage} ] }),:prompt => "----Supply---")%> 



  <label>Dosis</label>
  <input type="text" name="dosis" id="dosage">


  <label>Precio</label>
  <input type="text" name="" id="price">


  <label>Total consumo kg/lt</label>
  <input type="text" name="coquito" id="coquito"/>

  <button  id="agregarProducto" >ADD</button>

  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">Advanced Table</div>
              <div class="panel-body">
                  <table data-toggle="table" data-url="tables/data1.json"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                      <thead>
                          <tr>
                              <th data-field="state" data-checkbox="true" >Item ID</th>
                              <th data-field="id" data-sortable="true">Item ID</th>
                              <th data-field="name"  data-sortable="true">Item Name</th>
                              <th data-field="price" data-sortable="true">Item Price</th>
                          </tr>
                      </thead>
                  </table>
              </div>
          </div>
      </div>
  </div><

  <div id="detalhes-container">
      <table id="tabla">
          <thead>
              <tr>
                  <th width="20%">ID</th>
                  <th width="20%">Supply</th>
                  <th width="10%">Dosis</th>
                  <th width="20%">Precio</th>
                  <th width="20%">Consumo</th>
                  <th width="20%">Subtotal</th>
                  <th colspan="3"></th>
              </tr>
          </thead>

          <tbody>



          </tbody>

      </table>
      <label>TOTAL</label>
      <input type="text" name="cons_raw_material[total]" id="coquito2">

      <div id="test">

      </div>
  </div>





  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>

