<p id="notice"><%= notice %></p>

<p>
  <strong>Program production:</strong>
  <%= @cons_raw_material.program_production %>
</p>

<p>
  <strong>Total:</strong>
  <%= @cons_raw_material.total %>
</p>

<%= link_to 'Edit', edit_cons_raw_material_path(@cons_raw_material) %> |
<%= link_to 'Back', cons_raw_materials_path %>
