<legend><h2>Modificar Usuario</h2></legend>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">  
    <%= f.label :email,"Email :",class: "col-sm-3 control-label" %>
     <div class="col-xs-12 col-md-12 col-sm-12 col-lg-8">
         <%= f.email_field :email,autofocus: true , class: "form-control upper_text" , :maxlength => "40", :required => true  %>
          <div class="help-block"> <%= f.object.errors[:email].to_sentence if f.object.errors[:email] %></div>
      </div>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando una confirmación para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">  
      <%= f.label :password,"Contraseña:",class: "col-sm-3 control-label"  %> <i></i>
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-8">
           <%= f.password_field :password, autocomplete: "off", class: "form-control",:maxlength => "40", :required => true %>
           <span>&nbsp Deje en blanco caso no quiera cambiar!</span>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> caracteres mínimo!</em>
          <% end %>
      </div>
  </div>

    <div class="form-group">  
      <%= f.label :password_confirmation,"Confirmar:",class: "col-sm-3 control-label"  %><br />
       <div class="col-xs-12 col-md-12 col-sm-12 col-lg-8">
          <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "form-control",:maxlength => "40", :required => true  %>
            <div class="help-block">  <%= f.object.errors[:password_confirmation].to_sentence if f.object.errors[:password_confirmation] %></div>
      </div>
    </div>
    
    

    <div class="form-group">  
      <%= f.label :current_password,"Nueva Contraseña:",class: "col-sm-3 control-label" %>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-8">
          <%= f.password_field :current_password, autocomplete: "off",class: "form-control",:maxlength => "40", :required => true %>
          
          <div class="help-block">  <%= f.object.errors[:current_password].to_sentence if f.object.errors[:current_password] %></div>
       </div>
    </div>

    <div class="form-group col-md-offset-3 col-sm-offset-3">
      <div class="col-md-10 col-sm-10">
         <%= f.submit "Actualizar", class: "btn btn-info btn-lg btn-block" %>
      </div>
    </div>
<% end %>
  <div class="form-group col-md-offset-3 col-sm-offset-3">
      <div class="col-md-10 col-sm-10">
        <li><%= link_to "Volver", :back %></li>
      </div>
  </div>
<input type="hidden" id="controller" value="<%= controller_name%>">
