<p id="notice"><%= notice %></p>

<h1>Mark Spendings</h1>

<table>
  <thead>
    <tr>
      <th>Estimate sale</th>
      <th>Chart of account</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mark_spendings.each do |mark_spending| %>
      <tr>
        <td><%= mark_spending.estimate_sale %></td>
        <td><%= mark_spending.chart_of_account %></td>
        <td><%= mark_spending.total %></td>
        <td><%= link_to 'Show', mark_spending %></td>
        <td><%= link_to 'Edit', edit_mark_spending_path(mark_spending) %></td>
        <td><%= link_to 'Destroy', mark_spending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mark Spending', new_mark_spending_path %>
