<p id="notice"><%= notice %></p>

<p>
  <strong>Program production:</strong>
  <%= @depreciation.program_production %>
</p>

<p>
  <strong>Cost oper machine:</strong>
  <%= @depreciation.cost_oper_machine %>
</p>

<p>
  <strong>Total:</strong>
  <%= @depreciation.total %>
</p>

<%= link_to 'Edit', edit_depreciation_path(@depreciation) %> |
<%= link_to 'Back', depreciations_path %>
