   <%= form_for(@cost_oper_machine,html: {class: 'form-horizontal', id:'form_cost_oper_machines', remote: true,"data-type": "json",'data-model' => 'cost_oper_machine'}) do |f| %>
         <div class="row">
            <div class="col-sm-6 col-md-6">
               <div class="form-group">
                  <%= f.label :program_production_id,"Parcela:" ,class: "control-label col-sm-6 col-lg-3 col-xs-12"%>
                  <div class="col-lg-6">
                     <input value="<%= @farm_name %>" class="form-control" readonly/>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-6">
               <div class="form-group">
                  <%= f.label :program_production_id,"Área:" ,class: "control-label col-sm-6 col-lg-8 col-xs-12"%>
                  <div class="col-lg-4 col-md-2">
                     <input id="cost_oper_machine_program_production_id" value="<%=  @farm_area %>" class="form-control" readonly/>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 col-md-6">
               <div class="form-group">
                  <%= f.label "Maquinária:" ,class: "control-label col-sm-3 col-md-3"%>
                  <div class="col-sm-8 col-md-8 col-xs-12">
                    <%= select("cost_oper_own","machine_id", options_for_select(@machines), {}, {required: 'true', class: "form-control", include_blank: ''})%>   
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-6">
               <div class="form-group">
                  <%= f.label "Implemento:" ,class: "control-label col-sm-4 col-md-4"%>
                  <div class="col-sm-8 col-md-8 col-xs-12">
                    <%= select("cost_oper_own","implement_id", options_for_select(@implements), {}, {required: 'true',disabled: "disabled", class: "form-control", include_blank: ''})%>   
                  </div>
               </div>
            </div>
            
            <div class="col-sm-6 col-md-4">
               <div class="form-group">
                  <%= f.label :description,"Aplicaciones:" ,class: "control-label col-sm-6 col-md-5"%>
                  <div class="col-sm-4 col-md-5 col-xs-12">
                     <input id="cost_oper_machine_own_amount" name="cost_oper_own[amount]" value="1" class="form-control only_numbers text-right" /> 
                  </div>
               </div>
            </div>
            <div class="form-group col-xs-1 col-sm-1">   
               <a class="btn btn-default btn-sm" id="btn_add_cost_own">Agregar</a>
            </div>            
         </div>
         <table
            id="tb_cost_machine" 
            data-width="100%"  
            data-search="false"                
            class="table table-hover table-striped table-condensed display" 
            data-toggle="table"
            data-show-toggle="false"                
            data-show-refresh="false" 
            data-pagination="true" 
            onlyInfoPagination="false" 
            data-icons="icons" data-sort-name="code" data-sort-order="desc" 
            data-card-view="false"
            data-checkbox-header="false"
         >
            <thead>
               <tr>
                  <th data-field="id" data-checkbox="true">#</th>
                  <th style="width:10%" data-index="index" data-field="code"> Código</th>
                  <th style="width:15%" data-field="machine">Máquinaria</th>
                  <th style="width:15%" data-field="machine_id"></th>
                  <th style="width:15%" data-field="implement">Implemento</th>
                  <th style="width:15%" data-field="implement_id"></th>
                  <th style="width:10%" data-align='right'  data-field="fuel">Combustible</th>
                  <th style="width:10%" data-align='right'  data-field="fuel_id"></th>
                  <th style="width:10%" data-align='right'  data-field="lubricant">Lubricante</th>
                  <th style="width:10%" data-field="lubricant_id"></th>
                  <th style="width:10%" data-align='right'  data-field="rep_and_maint">Reparacion y Mant.</th>
                  <th style="width:10%" data-align='right' data-class="numeric" data-field="rep_and_maint_id"></th>
                  <th style="width:10%" data-align='right'  data-field="hours_needed">Horas Necesárias</th>
                  <th style="width:10%" data-align='right'  data-field="hours_needed_id"></th>
                  <th style="width:10%" data-align='right'  data-field="amount">Aplic</th>
                  <th style="width:10%" data-align='right'  data-field="amount_id"></th>
                  <th style="width:10%" data-halign='right' data-footer-formatter="runningFormatter" data-field="subtotal" data-align='right'>Sub-total</th>
                  <th style="width:10%" data-halign='right' data-align='right' data-field="subtotal_val"></th>
                  <th style="width:10%" data-halign='right' data-align='right' data-field="Action" data-events="remove">Acción</th>
               </tr>
            </thead>
            <tbody>
               <% if (controller.action_name == "edit") %>
                     <% @cost_oper_machine_details.each do |details| %>
                        <tr>
                           <td><%= details.id%></td>
                           <td><%= details.id%></td>
                           <td><%= details.machine.name%></td>
                           <td></td>
                           <td><%= details.implement.name%></td>
                           <td></td>
                           <td><%= details.fuel%></td>
                           <td></td>
                           <td><%= details.lubricant%></td>
                           <td></td>
                           <td><%= details.repair_and_maintenance %></td>
                           <td></td>
                           <td><%= details.hours_needed %></td>                           
                           <td></td>
                           <td><%= details.amount%></td>
                           <td></td>
                           <td><%= details.subtotal%></td>
                           <td></td>
                           <td>
                              <a class="change_status btn btn-danger btn-sm" href="" title="Cambiar status" >
                                 <i class="fa fa-minus-square"></i>
                              </a>
                           </td>
                        </tr>
                     <% end %>   
                     <%= f.text_field :total, :value => @total ,:id => "cost_oper_machine_total" %>
                  <% else %>
                     <%= f.text_field :total, :value => 0 ,:id => "cost_oper_machine_total" %>
                  <% end %>
            </tbody>
            <tfoot>
              <tr>
               <td class="h6 font-weight-bold" colspan="3"><strong>Total :<strong></td>
               <td colspan="17" class="font-weight-bold text-right">
                  <strong>
                     <span class="cost_oper_machine_total">
                        <%= number_with_precision( @total, :precision => 0, :delimiter => '.' ) %>             
                     </span>
                  <strong>
               </td>
              </tr>
            </tfoot>
         </table>
         
         <%= render('layouts/buttons')%>
         <%= f.text_field :program_production_id, :value => @program_production_id %>
<%end%>
<input type="hidden" id="controller" value="<%= controller_name%>">
