<div class="panel-body">
   <%= form_for(@cost_oper_machine,html: {class: 'form-horizontal', id: "form_cost_oper_machines", remote: true}) do |f| %>

      <div class="col-sm-6 col-lg-12 col-md-12 col-xs-12">
         <div class="row">
            <div class="col-lg-5">
               <div class="form-group">
                  <%= f.label :program_production_id,"Parcela:" ,class: "control-label col-sm-6 col-lg-3 col-xs-12"%>
                  <div class="col-lg-6">
                     <input value="<%= @farm_name %>" class="form-control" readonly/>
                  </div>
               </div>
            </div>
            <div class="col-lg-7">
               <div class="form-group">
                  <%= f.label :program_production_id,"Área:" ,class: "control-label col-sm-6 col-lg-8 col-xs-12"%>
                  <div class="col-lg-4 col-md-2">
                     <input id="farm_area" value="<%=  @farm_area %>" class="form-control" readonly/>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-5">
               <div class="form-group">
                  <%= f.label :description,"Maquinária:" ,class: "control-label col-lg-3"%>
                  <div class="col-sm-4 col-md-2 col-xs-12 col-lg-9">
                    <%= select("cost_oper_machine_detail","machine_id", options_for_select(@machines), {}, {required: 'true', class: "form-control", include_blank: ''})%>   
                  </div>
               </div>
            </div>
            <div class="col-lg-7">
               <div class="form-group" id="implements">
                  <%= f.label :description,"Implemento:" ,class: "control-label col-lg-5"%>
                  <div class="col-sm-4 col-md-2 col-xs-12 col-lg-7">
                    <%= select("cost_oper_machine_detail","implement_id", options_for_select(@implements), {}, {required: 'true', class: "form-control", include_blank: ''})%>   
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <%= f.label :description,"Aplicaciones:" ,class: "control-label col-lg-5"%>
                  <div class="col-sm-6 col-md-6 col-xs-12 col-lg-7">
                     <input id="quantity" value="" class="form-control only_numbers" /> 
                  </div>
               </div>
            </div>
            <div class="form-group col-xs-1 col-sm-1">   
               <a href="#" class="btn btn-default btn-sm" id="btn_add_cost_own">Agregar</a>
            </div>            
         </div>
         <table 
               data-id="tb_cost_machine" 
               data-height="300" 
               data-show-footer="true" 
               data-show-columns="true" 
               class="table  table-hover table-striped table-condensed display" 
               data-toggle="table"
               data-show-refresh="false" 
               data-pagination="false" 
               data-icons="icons"
               data-footer-style="footerStyle"
               data-checkbox-header="false"
         >
            <thead>
               <tr>
                  <th data-field="id" data-checkbox="true"></th>
                  <th data-field="code">Código</th>
                  <th data-field="type_of_service_id">Máquinaria</th>
                  <th data-field="price">Combustible</th>
                  <th data-field="quantity">Lubricante</th>
                  <th data-field="quantity">Reparacion y Mant.</th>
                  <th data-halign='right' data-id="subtotal" data-align='right' data-field="subtotal" >Sub-total</th>
                  <th data-halign='right' data-align='right' data-field="Action" data-events="remove">Acción</th>
               </tr>
            </thead>
            <tbody></tbody>
                 
            <tfoot>
              <tr>
               <td class="h6 font-weight-bold" colspan="2"><strong>Total :<strong></td>
               <td colspan="5" class="font-weight-bold text-right">
                  <strong><span id="outsourced_total"></span><strong>
               </td>
              </tr>
            </tfoot>
            <div id="add_row_cost_oper_cont"></div>
         </table>
         
         <%= render('layouts/error_lists')%>
         <%= render('layouts/buttons')%>
      </div>
   <%end%>
</div>
   
<div id="addRow">
   <input type="text" name="cost_oper_machine_cont[total]" id="cost_oper_cont_total"/>
   <input type="text" name="cost_oper_machine_cont[program_production_id]" id="program_production_id" 
   value="<%= @program_production_id%>">
</div>

<input type="hidden" id="controller" value="<%= controller_name%>">
