<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Cost Operative Own Machinery</h3></div>
            <%=render 'layouts/submenu' %>

            <div class="panel-body">
                <table data-toggle="table" data-url="cost_oper_machines"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="id" data-checkbox="true">Item ID</th>
                            <th data-field="name" data-sortable="true" >Farming Plot</th> 
                            <th data-field="type_of_service" >Type Of Service</th>  
                            <th data-field="price" >Price</th> 
                            <th data-field="amount"> Amount</th>
                            <th data-field="time_oper" >U.M</th>                            
                            <th data-field="subtotal"> Subtotal</th>
                            <th data-field="description"  data-sortable="true">Description</th>                            
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @cost_oper_machines.each do |cost_own_machine| %>
                          <tr>
                              <td><%= cost_own_machine.id %></td>
                              <td><%= cost_own_machine.farming_plot.name%></td>
                             <!--aqui vai a tabela dinamica do jquery-->

                              <td class="col-md-1">
                                  <%= link_to edit_cost_oper_machine_path(cost_own_machine) do %>
                                    <i class="fa fa-2x fa-edit"></i>
                                  <% end %>
                                  <%= link_to    cost_own_machine, method: :delete, data: { confirm: 'Are you sure?' }  do%>
                                    <i class="fa fa-2x fa-minus"></i>
                                  <% end %>
                              </td>

                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>