   <%= form_for(@man_power,html: {class: 'form-horizontal', id: "form_man_powers", remote: true,"data-type": "json",'data-model' => 'man_power'}) do |f| %>

      <div class="col-sm-6 col-lg-12 col-md-12 col-xs-12">
         <div class="row">
            <div class="col-lg-6">
               <div class="form-group">
                  <%= f.label :description,"Empleado:" ,class: "control-label col-lg-5"%>
                  <div class="col-sm-4 col-md-2 col-xs-12 col-lg-6">
                    <%= select("man_power_details","employee_id", options_for_select(@employee), {}, {required: 'true', class: "form-control", include_blank: ''})%>   
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="form-group">
                  <%= f.label :description,"Tipo de trabajo:" ,class: "control-label col-lg-4"%>
                  <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">
                    <%= select("man_power_details","type_of_work_id", options_for_select(@type_of_work), {}, {required: 'true', class: "form-control", include_blank: ''})%>   
                  </div>
               </div>  
            </div>           
         </div>
         <div class="row"> 
            <div class="col-lg-6">
               <div class="form-group">
                  <%= f.label :description,"Horas Necesárias:" ,class: "control-label col-lg-5"%>
                  <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">
                     <input id="hours_needed" name="man_power_details[hours_needed]" class="form-control only_numbers" value="1" required/> 
                  </div>
               </div>
            </div>
            <div class="form-group col-xs-1 col-sm-1">   
               <a class="btn btn-default btn-sm" id="btn_man_power">Agregar</a>
            </div>            
         </div>
         <table 
            id="tb_man_power"
            data-width="100%"  
            data-search="false"                
            class="table table-hover table-striped table-condensed display" 
            data-toggle="table"
            data-show-toggle="false"                
            data-show-refresh="false" 
            data-pagination="true" 
            onlyInfoPagination="false" 
            data-icons="icons" data-sort-name="code" data-sort-order="desc" 
            data-card-view="false"
            data-checkbox-header="false"
            >
            <thead>
               <tr>
                  <th data-field="id" data-checkbox="true">#</th>
                  <th data-field="employee">Empleado</th>
                  <th data-field="employee_id" ></th>
                  <th data-field="type_of_work" >Tipo de trabajo</th>
                  <th data-field="type_of_work_id"></th>
                  <th data-field="salary" >Sueldo(Hs)</th>
                  <th data-field="hours_needed">Horas necesárias</th>
                  <th data-field="hours_needed_id"></th>
                  <th data-halign='right' data-align='right' data-field="subtotal" >Sub-total</th>
                  <th data-halign='right' data-align='right' data-field="subtotal_id" ></th>
                  <th data-halign='right' data-align='right' data-field="Action" data-events="remove">Acción</th>
               </tr>
            </thead>
            <tbody>
               <% if (controller.action_name == "edit") %>
                  <% @man_powers_details.each do |man_power_det| %>
                  <tr>
                     <td ><%= man_power_det.id%></td>
                     <td><%= man_power_det.person.name %></td>
                     <td ></td>
                     <td><%= man_power_det.type_of_work.name %></td>
                     <td></td>
                     <td><%= number_with_precision( man_power_det.type_of_work.price_hours, :precision => 0, :delimiter => '.' ) %></td>                  
                     <td><%= number_with_precision(man_power_det.hours_needed, :precision => 0, :delimiter => '.' ) %></td>                  
                     <td ></td>
                     <td><%= number_with_precision( man_power_det.subtotal, :precision => 0, :delimiter => '.' ) %></td>                  
                     <td ></td>
                     <td >
                        <a class="change_status btn btn-danger btn-sm" href="" title="Cambiar status" >
                           <i class="fa fa-minus-square"></i>
                        </a>                    
                     </td>
                  </tr>
                  <% end %>   
               <% end %>
            </tbody>
                 
            <tfoot>
              <tr>
               <td class="h6 font-weight-bold" colspan="8"><strong>Total :<strong></td>
               <td colspan="5" class="font-weight-bold text-right">
                  <strong><span id="total"><%= @total %></span><strong>
               </td>
              </tr>
            </tfoot>
         </table>
         
         <%= render('layouts/buttons')%>
         <input type="hidden" name='man_power[program_production_id]' value="<%= @program_production_id %>" />
         <input type="hidden" name='man_power[total]' class="man_powers_total" value="<%= @total %>"/>
         <input type="hidden" name="man_power[total_hours_needed]" class="total_hours_needed" value="<%= @total_hours_needed %>"/>  
      </div>
   <%end%>
<input type="hidden" id="controller" value="<%= controller_name%>">

