<div class="panel-body">
   <%= form_for(@man_power,html: {class: 'form-horizontal', id: "form_man_powers", remote: true}) do |f| %>

      <div class="col-sm-6 col-lg-12 col-md-12 col-xs-12">
         <div class="row">
            <div class="col-lg-6">
               <div class="form-group">
                  <%= f.label :description,"Empleado:" ,class: "control-label col-lg-5"%>
                  <div class="col-sm-4 col-md-2 col-xs-12 col-lg-6">
                    <%= select("man_power_details","employee_id", options_for_select(@employee), {}, {required: 'true', class: "form-control", include_blank: ''})%>   
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="form-group">
                  <%= f.label :description,"Tipo de trabajo:" ,class: "control-label col-lg-4"%>
                  <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">
                    <%= select("man_power_details","type_of_work_id", options_for_select(@type_of_work), {}, {required: 'true', class: "form-control", include_blank: ''})%>   
                  </div>
               </div>  
            </div>           
         </div>
         <div class="row"> 
            <div class="col-lg-6">
               <div class="form-group">
                  <%= f.label :description,"Horas Neces치rias:" ,class: "control-label col-lg-5"%>
                  <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">
                  <input id="hours_needed" name="man_power_details[hours_needed]" class="form-control only_numbers" value="1"/> 
                  <input type="hidden" id="man_power_program_production_id" name="man_power[program_production_id]" class="form-control" value="<%= @program_production_id %>"/> 
                  </div>
               </div>
            </div>
            <div class="form-group col-xs-1 col-sm-1">   
               <a class="btn btn-default btn-sm" id="btn_man_power">Agregar</a>
            </div>            
         </div>
         <table 
               id="tb_man_power" 
               data-height="300" 
               data-show-footer="true" 
               class="table  table-hover table-striped table-condensed display" 
               data-toggle="table"
               data-show-refresh="false" 
               data-pagination="false" 
               data-icons="icons"
               data-footer-style="footerStyle"
               data-unique-id="tb_sp_detail"
               data-checkbox-header="false"
         >
            <thead>
               <tr>
                  <th data-field="id" data-checkbox="true"></th>
                  <th data-field="code">C칩digo</th>
                  <th data-field="employee">Empleado</th>
                  <th data-field="employee_id"></th>
                  <th data-field="type_of_work">Tipo de trabajo</th>
                  <th data-field="type_of_work_id"></th>
                  <th data-field="hours_needed">Horas neces치rias</th>
                  <th data-field="hours_needed_id"></th>
                  <th data-field="total_hours_needed"></th>
                  <th data-halign='right' data-align='right' data-field="subtotal" >Sub-total</th>
                  <th data-halign='right' data-align='right' data-field="subtotal_id" ></th>
                  <th data-halign='right' data-align='right' data-field="total" ></th>
                  <th data-halign='right' data-align='right' data-field="Action" data-events="remove">Acci칩n</th>
               </tr>
            </thead>
            <tbody>
               <% if (controller.action_name == "edit") %>
                  <% @man_powers_details.each do |man_power_det| %>
                  <tr>
                     <td><%= man_power_det.id%></td>
                     <td data-style='width: 4%'><%= man_power_det.id%></td>
                     <td><%= man_power_det.person.name %></td>
                     <td class="hide"><%= man_power_det.person.id %></td>
                     <td><%= man_power_det.type_of_work.name %></td>
                     <td class="hide"><%= man_power_det.type_of_work.id %></td>
                     <td><%= man_power_det.hours_needed %></td>
                     <td class="hide"></td>
                     <td class="hide"></td>
                     <td class="hide"></td>
                     <td class="hide"></td>
                     <td ><%= man_power_det.subtotal %></td>
                  </tr>
                  <% end %>   
               <% end %>
            </tbody>
                 
            <tfoot>
              <tr>
               <td class="h6 font-weight-bold" colspan="5"><strong>Total :<strong></td>
               <td colspan="8" class="font-weight-bold text-right">
                  <strong><span id="man_powers_total"></span><strong>
               </td>
              </tr>
            </tfoot>
         </table>
         
         <%= render('layouts/error_lists')%>
         <%= render('layouts/buttons')%>
      </div>
   <%end%>
</div> 
<input type="hidden" id="controller" value="<%= controller_name%>">