<div class="panel-body">
   <div class="table-responsive">
      <table    
         data-width="100%"
         class="table  table-hover table-striped table-condensed display"
         data-toggle="table" 
         data-search="true" 
         data-toolbar="toolbar1"
         data-show-toggle="false"
         data-show-refresh="false"
         data-pagination="true"
         onlyInfoPagination="false"
         data-icons="icons"
         data-height="400"
         data-sort-name="farming_plot_id"
         data-sort-order="desc" 
         data-card-view="false">
         <thead>
            <tr>
               <th data-field="id" data-checkbox="false">#</th>
               <th data-field="program_production_id">Parcela</th>
               <th data-field="total_hours_needed" >Total de horas necesárias</th> 
               <th data-field="total" >Monto Total</th>  
               <th data-formatter="actionFormatter" data-align="right" data-events="actionEvents">Acción</th>
            </tr>
         </thead>
         <tbody>
            <% @man_powers.each do |man_power| %>
               <tr>
                  <td><%= man_power.id%></td>
                  <td><%= man_power.program_production.estimate_sale.farming_plot.name %></td>
                  <td><%= number_with_precision( man_power.total_hours_needed, :precision => 0, :delimiter => '.' ) %></td>
                  <td><%= number_with_precision( man_power.total, :precision => 0, :delimiter => '.' ) %></td>                  
               </tr>
            <% end %>
         </tbody>
      </table>
   </div>
</div>
<input type="hidden" id="controller" value="<%= controller_name%>">
