<p id="notice"><%= notice %></p>

<h1>Man Powers</h1>

<table>
    <thead>
        <tr>
            <th>Program production</th>
            <th>Total hours needed</th>
            <th>Total</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @man_powers.each do |man_power| %>
          <tr>
              <td><%= man_power.program_production.program_production %></td>
              <td><%= man_power.total_hours_needed %></td>
              <td><%=number_to_currency man_power.total %></td>
              
            </tr>
          <% end %>
      </tbody>
  </table>

  <br>

  <%= link_to 'New Man Power', new_man_power_path %>
