<%=form_for( @program_production, html: {class: 'form-horizontal',id: "form_program_productions", remote:true,"data-type": "json",'data-model' => 'program_production'}) do |f| %>

	<div class="form-group">                   
		<input type="hidden" id="program_production_estimate_sale_id" name="program_production[estimate_sale_id]" value="<%=@sales_id%>"/> 
	</div>

	<div class="form-group"> 
		<label class="control-label col-sm-3 col-lg-3">Parcela Agrícola </label>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-4">    
			<input class="form-control" value="<%=@sales_farming_plot%>" readonly/>
		</div>
	</div>

	<div class="form-group"> 
		<label class="control-label col-sm-3 col-lg-3">Área :</label>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-2">    
			<div class="input-group">
				<input class="form-control text-right" value="<%=@sales_area%>" readonly/>
				<span class="input-group-addon" id="basic-addon2">Ha</span>
			</div>
		</div>
	</div>

	<div class="form-group"> 
		<label class="control-label col-sm-3 col-lg-3">Cantidad estim. a vender : </label>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-3"> 
			<div class="input-group">
				<input class="form-control text-right" id="estimate_sale"  value="<%=@sales_total_production%>" readonly />     
				<span class="input-group-addon" id="basic-addon2">KG</span>
			</div>
		</div>
	</div>

	<div class="form-group"> 
		<%= f.label :stock_end,"Stock Final :", class: "control-label col-sm-3 col-lg-3 col-md-4"%>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-3">                         
			<div class="input-group">
				<%= f.text_field :stock_end, :pattern => "[0-9]+", class: "form-control only_numbers text-right"%>                               
				<span class="input-group-addon" id="basic-addon2"><i class="" aria-hidden="true">=</i></span>
			</div>
			<span class="help-inline"> <%= f.object.errors[:stock_end].to_sentence if f.object.errors[:stock_end] %></span>
		</div>
	</div>

	<div class="form-group"> 
		<%= f.label :stock_initial,"Stock inicial :", class: "control-label col-sm-3 col-lg-3 col-md-4" %>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-2">                            
			<div class="input-group">
				<%= f.text_field :stock_initial, class: "form-control only_numbers text-right",:pattern => "[0-9]+",:"data-error"=>"Este campo no puede estar en blanco",:required => true %>
				<span class="input-group-addon" id="basic-addon2"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
			</div>
			<span class="help-block"> <%= f.object.errors[:stock_initial].to_sentence if f.object.errors[:stock_initial] %></span>   
		</div>
	</div>

	<div class="form-group"> 
		<%= f.label :variation_stock,"Variación de stock :", class: "control-label col-sm-3 col-lg-3 col-md-4"%>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-3">                         
			<div class="input-group">
				<%= f.text_field :variation_stock, :pattern => "[0-9]+", class: "form-control only_numbers text-right", :readonly=>"readonly"%>                               
				<span class="input-group-addon" id="basic-addon2"><i class="" aria-hidden="true">=</i></span>
			</div>
			<span class="help-block"> <%= f.object.errors[:variation_stock].to_sentence if f.object.errors[:variation_stock] %></span>   
		</div>
	</div>

	<div class="form-group"> 
		<%= f.label :program_production,"Programa de producción :", class: "control-label col-sm-3 col-lg-3 col-md-4" %>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-4">
			<div class="input-group">
				<%= f.text_field :program_production,:pattern => "[0-9]+", class: "form-control text-right",:"data-error"=>"Este campo no puede estar en blanco",:readonly=>"readonly"%>
				<span class="input-group-addon" id="basic-addon2">Kg</span>
			</div>
			<span class="help-block"> <%= f.object.errors[:program_production].to_sentence if f.object.errors[:program_production] %></span>   
		</div>
	</div>

	<input type="hidden" id="controller" value="<%= controller_name%>">
	<% end %>
