</br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Program Productions</h3></div>
            <%=render 'layouts/submenu' %>
            <div class="panel-body">
                <table data-toggle="table" data-url="program_production"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="id" data-checkbox="true">Item ID</th>
                            <th data-field="estimate_sales" data-sortable="true" >Estimate sale</th> 
                            <th data-field="stock_initial" >Stock initial</th> 
                            <th data-field="stock_end" >Stock end</th>  
                            <th data-field="variation_stock" >Variation stock</th>  
                            <th data-field="program_production"  >Program production</th>                            
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @program_productions.each do |prog_product| %>
                          <tr>
                              <td><%= prog_product.id%></td>
                              <td><%=  prog_product.estimate_sale.farming_plot.name %></td>
                              <td><%= prog_product.stock_initial %></td>
                              <td><%= prog_product.stock_end %></td>
                              <td><%= prog_product.variation_stock %></td>
                              <td><%= prog_product.program_production %></td>
                              <td class="col-md-1">
                                  <%= link_to edit_program_production_path(prog_product) do %>
                                    <i class="fa fa-2x fa-edit"></i>
                                  <% end %>

                              </td>

                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>