<div class="panel-body">
    <div class="table-responsive">
        <table 
            data-width="100%"  
                data-flat="true"
                data-response-handler="flatJSON"
                data-search="true"                
                class="table  table-hover table-striped table-condensed display" 
                data-toggle="table"
                data-show-toggle="true"                
                data-show-refresh="false" 
                data-pagination="true" 
                onlyInfoPagination="false" 
                data-icons="icons" data-sort-name="program_production" data-sort-order="desc" 
                data-card-view="false">
            <thead>
            <tr>
                <th data-field="id" data-visible="false" >Estim. de venta</th> 
                <th data-field="program_production_id" data-sortable="false" >Estim. de venta</th> 
                <th data-align="right" data-sortable="true" data-field="stock_initial" >Exist. Final</th> 
                <th data-align="right"  data-sortable="true"data-field="stock_end" >Exist. inicial</th>  
                <th data-align="right" data-sortable="true" data-field="variation_stock" >Variación exist.</th>  
                <th data-align="right" class=""data-field="program_production">Prog. de producción</th>                            
                 <th data-halign="right" data-align="right" data-formatter="actionFormatter" data-events="actionEvents">Acción</th>
            </tr>
        </thead>
        <tbody>
            <% @program_productions.each do |prog_product| %>
             <tr>
                 <td><%=  prog_product.id %></td>
                 <td><%=  prog_product.estimate_sale.farming_plot.name %></td>
                 <td><%= number_with_precision(prog_product.stock_end, :precision => 0, :delimiter => '.') %></td>
                 <td><%= number_with_precision(prog_product.stock_initial, :precision => 0, :delimiter => '.') %></td>
                 <td><%= number_with_precision(prog_product.variation_stock, :precision => 0, :delimiter => '.')  %></td>
                 <td><%= number_with_precision(prog_product.program_production, :precision => 0, :delimiter => '.')  %></td>
              </tr>
             <% end %>
         </tbody>
     </table>
     <input type="hidden" id="controller" value="<%= controller_name%>">
 </div>
