<%= form_for(estimate_sale) do |f| %>
  <% if estimate_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estimate_sale.errors.count, "error") %> prohibited this estimate_sale from being saved:</h2>

      <ul>
      <% estimate_sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :farming_plot_id %>
      <%= select("estimate_sale", "farming_plot_id",options_for_select(FarmingPlot.all.collect {|p| [ p.name, p.id, {"data-area-parcela"=>p.area} ] }),:prompt => "----SELECT---")%> 
  </div>

  <div class="field">
    <%= f.label :estimate_production %>
    <%= f.text_field :estimate_production %>
  </div>

  <div class="field">
    <%= f.label :total_production %>
    <%= f.text_field :total_production %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :gross_sale %>
    <%= f.text_field :gross_sale %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
