<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-responsive" data-toggle="table" data-url="estimate_sales"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="code" data-sort-order="code">
            <thead>
                <tr>
                    <th data-field="code" data-sortable="true">Codigo</th>
                    <th data-field="farming_plot_id" >Parcela agrícola</th> 
                    <th data-field="farming_plot_id" >Tipo de cultivo</th> 
                    <th data-field="estimate_production" >Est. produc x ha</th>                            
                    <th data-field="total_production">Total prod.</th>
                    <th data-field="price"> Precio(KG)</th>
                    <th data-field="gross_sale" data-sortable="true">Ingreso Bruto</th>
                    <th class="text-right">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% @estimate_sales.each do |sales| %>
                  <tr>
                      <td><%= sales.code%></td>
                      <td><%= sales.farming_plot.name%></td>
                      <td><%= sales.type_of_crop.name%></td>
                      <td><%= number_to_currency sales.estimate_production %></td>
                      <td><%= number_to_currency sales.total_production %></td>
                      <td><%= number_to_currency sales.price %></td>
                      <td><%=  number_to_currency(sales.gross_sale, precision: 2)  %></td>
                      <td class="pull-right">                     
                          <%= link_to edit_estimate_sale_path(sales), class: "btn btn-primary" do %>
                              <i class="fa fa-1x fa-pencil"></i>
                            <% end %>                            
                            <a type="button" class="btn_md_crop btn btn-primary" data-id_cultivo="<%= sales.id %>"><i class="fa fa-1x fa-trash"></i></a>                       
                        </td>

                    </tr>
                  <% end %>
              </tbody>                        
          </table>
      </div>
  </div>
