<%= form_for(stru_expense_det) do |f| %>
  <% if stru_expense_det.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stru_expense_det.errors.count, "error") %> prohibited this stru_expense_det from being saved:</h2>

      <ul>
      <% stru_expense_det.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :structure_expense_id %>
    <%= f.text_field :structure_expense_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :subtotal %>
    <%= f.text_field :subtotal %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
