<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Type Of Services</h3></div>
            <%=render 'layouts/submenu' %>
            <div class="panel-body">
                <table data-toggle="table" data-url="type_of_service"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="id" data-checkbox="true">Item ID</th>
                            <th data-field="name" >Name</th> 
                            <th data-field="price" >Price</th>                            
                            <th data-field="description"  data-sortable="true">Description</th>                            
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @type_of_services.each do |type_service| %>
                          <tr>
                              <td><%= type_service.id%></td>
                              <td><%= type_service.name %></td>
                              <td><%= type_service.price %></td>
                              <td><%= type_service.description %></td>                              
                              <td class="col-md-1">
                                  <%= link_to edit_type_of_service_path(type_service) do %>
                                    <i class="fa fa-2x fa-edit"></i>
                                  <% end %>
                                  <%= link_to    type_service, method: :delete, data: { confirm: 'Are you sure?' }  do%>
                                    <i class="fa fa-2x fa-minus"></i>
                                  <% end %>
                              </td>

                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>