<div class="panel-body">
    <div class="table-responsive">
        <table data-width="100%"  
            data-flat="true"
            data-response-handler="flatJSON"
            data-search="true"                
            class="table table-hover table-striped table-condensed display" 
            data-toggle="table"
            data-show-toggle="true"                
            data-show-refresh="false" 
            data-pagination="true" 
            onlyInfoPagination="false" 
            data-icons="icons" data-sort-name="code" data-sort-order="desc" 
            data-card-view="false"
        >
                <thead>
                        <tr>
                            <th data-visible="false" data-field="id">Código</th>
                            <th data-field="name" >Nombre</th> 
                            <th data-field="price" >Precio</th>                            
                            <th data-field="unit_of_measurement_id" >U.M</th>                            
                            <th data-field="description"  data-sortable="true">Descripción</th>                            
                            <th data-width='80' data-halign="right" data-align="right" data-formatter="actionFormatter" data-events="actionEvents">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @type_of_services.each do |type_service| %>
                          <tr>
                              <td><%= type_service.id %></td>
                              <td><%= type_service.name %></td>
                              <td><%= number_with_precision(type_service.price, :precision => 0, :delimiter => '.' )   %></td>
                              <td><%= type_service.unit_of_measurement.name %></td>                              
                              <td><%= type_service.description %></td>                              
                              
                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
<input type="hidden" id="controller" value="<%= controller_name%>">   
