<p id="notice"><%= notice %></p>

<h1>Man Power Details</h1>

<table>
  <thead>
    <tr>
      <th>Type of work</th>
      <th>Employee</th>
      <th>Subtotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @man_power_details.each do |man_power_detail| %>
      <tr>
        <td><%= man_power_detail.type_of_work %></td>
        <td><%= man_power_detail.employee %></td>
        <td><%= man_power_detail.subtotal %></td>
        <td><%= link_to 'Show', man_power_detail %></td>
        <td><%= link_to 'Edit', edit_man_power_detail_path(man_power_detail) %></td>
        <td><%= link_to 'Destroy', man_power_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Man Power Detail', new_man_power_detail_path %>
