<p id="notice"><%= notice %></p>

<p>
  <strong>Man power:</strong>
  <%= @man_power_detail.man_power %>
</p>

<p>
  <strong>Type of work:</strong>
  <%= @man_power_detail.type_of_work %>
</p>

<p>
  <strong>Person:</strong>
  <%= @man_power_detail.person %>
</p>

<p>
  <strong>Hours needed:</strong>
  <%= @man_power_detail.hours_needed %>
</p>

<p>
  <strong>Hours needed:</strong>
  <%= @man_power_detail.hours_needed %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @man_power_detail.subtotal %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @man_power_detail.subtotal %>
</p>

<%= link_to 'Edit', edit_man_power_detail_path(@man_power_detail) %> |
<%= link_to 'Back', man_power_details_path %>
