
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Supplies</h3>
                <%=render 'layouts/submenu' %>
            </div>
            <div class="panel-body">
                <table data-toggle="table" data-url="supplies"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="tradename" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="id" data-sortable="true" data-checkbox="true">Item ID</th>
                            <th data-field="maker" >Maker</th> 
                            <th data-field="unit_of_measurement" >U.M</th>                            
                            <th data-field="tradename"  data-sortable="true">Tradename</th>
                            <th data-field="price" data-sortable="true"> Price</th>
                            <th data-field="dosage" >Dosage</th>
                            <th data-field="cost_per_hectare" >Cost per hectare</th>
                            <th data-field="description" >Description</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% @supplies.each do |supply| %>
                          <tr>
                              <td><%= supply.id%></td>
                              <td><%= supply.maker%></td>
                              <td><%= supply.unit_of_measurement.abbreviation%></td>
                              <td><%= supply.tradename%></td>
                              <td><%= number_to_currency supply.price%></td>
                              <td><%= supply.dosage%></td>
                              <td><%= number_to_currency supply.cost_per_hectare%></td>
                              <td><%= supply.description%></td>

                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
