<div class="panel-body">
    <div class="table-responsive">
        <table  data-width="100%"
                    class="table  table-hover table-striped table-condensed display"
                    data-toggle="table" 
                    data-search="true" 
                    data-toolbar="#toolbar"
                    data-show-toggle="true"
                    data-show-refresh="false"
                    data-pagination="true"
                    onlyInfoPagination="false"
                    data-icons="icons"
                    data-sort-name="brand_id"
                    data-sort-order="desc" 
                    data-height="380"
                    id="table_models"
                    data-card-view="false">
                <thead>
            <tr>
                <th class="col-md-2" data-field="id">Codigo</th> 
                <th class="col-md-3" data-field="program_production_id">Programa de producción</th> 
                <th class="col-md-3" data-field="tradename">Producto</th> 
                <th class="col-md-3" data-field="supply_needed_total">Cantidad Necesesaria</th> 
                <th class="col-md-3" data-halign="right" data-field="total">Total</th> 
                 <th class="col-md-2" data-halign="right" data-align="right" data-formatter="actionFormatter" data-events="actionEvents">Acción</th>
            </tr>
        </thead>
        <tbody>
            <% @supplies.each do |supply| %>
               <tr>
                  <td><%= supply.id %></td>
                  <td><%= number_with_precision( supply.total_production, :precision => 0, :delimiter => '.' )  %></td>
                  <td><%= supply.tradename %></td>
                  <td><%= number_with_precision( supply.supply_needed_total, :precision => 2, :delimiter => '.' )%></td>
                  <td><%= number_with_precision( supply.total, :precision => 0, :delimiter => '.' )  %></td>
               </tr>
            <% end %>
        </tbody>
    </table>
  </div>
</div>
<input type="hidden" id="controller" value="<%= controller_name%>">


