<p id="notice"><%= notice %></p>

<p>
  <strong>Programproduction:</strong>
  <%= @supply.programProduction %>
</p>

<p>
  <strong>Chartofaccount:</strong>
  <%= @supply.chartOfAccount %>
</p>

<p>
  <strong>Total:</strong>
  <%= @supply.total %>
</p>

<%= link_to 'Edit', edit_supply_path(@supply) %> |
<%= link_to 'Back', supplies_path %>
