<p id="notice"><%= notice %></p>

<p>
  <strong>Maker:</strong>
  <%= @supply.maker %>
</p>

<p>
  <strong>Unit of measurement:</strong>
  <%= @supply.unit_of_measurement %>
</p>

<p>
  <strong>Tradename:</strong>
  <%= @supply.tradename %>
</p>

<p>
  <strong>Price:</strong>
  <%= @supply.price %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @supply.dosage %>
</p>

<p>
  <strong>Cost per hectare:</strong>
  <%= @supply.cost_per_hectare %>
</p>

<p>
  <strong>Description:</strong>
  <%= @supply.description %>
</p>

<%= link_to 'Edit', edit_supply_path(@supply) %> |
<%= link_to 'Back', supplies_path %>
