<div class="panel-body">
   <%= form_for(@revaluation_coefficient,html: {class: 'form-horizontal', id: "form_revaluation_coefficients", remote: true,"data-type": "json",'data-model' => 'revaluation_coefficient'}) do |f| %>
   <div class="col-sm-6 col-lg-8 col-lg-8">

      <div class="form-group">
         <%= f.label :start_period, "Fecha inicio :" ,class: "control-label col-sm-3"%>
         <div class="col-sm-4">
            <%= f.text_field :start_period, autofocus: true, class: "form-control upper_text datepicker", :required => true%>
            <span class="help-block"> <%= f.object.errors[:start_period].to_sentence if f.object.errors[:start_period] %></span>
         </div>
      </div>

      <div class="form-group">
         <%= f.label :end_period,"Fecha final :", class: "control-label col-sm-3"%>
         <div class="col-sm-5">
            <%= f.text_field :end_period, autofocus: true, class: "form-control upper_text datepicker", :required => true%>
            <span class="help-block"> <%= f.object.errors[:end_period].to_sentence if f.object.errors[:end_period] %></span>
         </div>
      </div>

      <div class="form-group">
         <%= f.label :description,"Coeficiente:" ,class: "control-label col-sm-3"%>
         <div class="col-sm-5">
            <%= f.text_area :coefficient, autofocus: true , class: "form-control"%>
            <span class="help-block"> <%= f.object.errors[:coefficient].to_sentence if f.object.errors[:coefficient] %></span>
         </div>
      </div>
   </div>  
   <% end %>
</div>
<input type="hidden" id="controller" value="<%= controller_name%>">