<div class="panel-body">
    <div class="table-responsive">
        <table data-width="100%"  
                data-flat="true"
                data-response-handler="flatJSON"
                data-search="true"                
                class="table  table-hover table-striped table-condensed display" 
                data-toggle="table"
                data-show-toggle="true"                
                data-show-refresh="false" 
                data-pagination="true" 
                onlyInfoPagination="false" 
                data-icons="icons" data-sort-name="code" data-sort-order="desc" 
                data-card-view="false">
            <thead>
                <tr>
                    <th data-visible="false" data-field="id">Id</th>
                    <th data-field="code" style="width: 10%">Periodo</th>
                    <th data-field="date" style="width: 40%">Fecha</th>
                    <th data-field="quantity" style="width: 40%">Cantidad</th> 
                    <th data-halign="right" data-align="right" data-formatter="actionFormatter" data-events="actionEvents">Acción</th> 
                </tr>
            </thead>
            <tbody>
                <% @history_sales.each do |history_sale| %>
                 <tr>
                    <td><%= history_sale.id %></td>
                    <td><%= history_sale.period %></td>
                    <td><%= history_sale.date %></td>
                    <td><%= history_sale.quantity %></td>
                  </tr>
                  <% end %>
              </tbody>                        
          </table>
      </div> 
  <input type="hidden" id="controller" value="<%= controller_name%>">
</div>
 
