<%= form_for(cons_raw_material_detail) do |f| %>
  <% if cons_raw_material_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cons_raw_material_detail.errors.count, "error") %> prohibited this cons_raw_material_detail from being saved:</h2>

      <ul>
      <% cons_raw_material_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cons_raw_material_id %>
    <%= f.text_field :cons_raw_material_id %>
  </div>

  <div class="field">
    <%= f.label :supply_id %>
    <%= f.text_field :supply_id %>
  </div>

  <div class="field">
    <%= f.label :total_unit %>
    <%= f.text_field :total_unit %>
  </div>

  <div class="field">
    <%= f.label :subtotal %>
    <%= f.text_field :subtotal %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
