<p id="notice"><%= notice %></p>

<p>
  <strong>Cons raw material:</strong>
  <%= @cons_raw_material_detail.cons_raw_material %>
</p>

<p>
  <strong>Supply:</strong>
  <%= @cons_raw_material_detail.supply %>
</p>

<p>
  <strong>Total unit:</strong>
  <%= @cons_raw_material_detail.total_unit %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @cons_raw_material_detail.subtotal %>
</p>

<%= link_to 'Edit', edit_cons_raw_material_detail_path(@cons_raw_material_detail) %> |
<%= link_to 'Back', cons_raw_material_details_path %>
