<div class="panel-heading clearfix ">
    <h5 class="panel-title pull-left" style="padding-top: 7.5px;">Tipo de Cultivo</h5>   
</div>
<div class="panel-body">
    <%= form_for(@type_of_crop, html: {class: 'form-horizontal'}) do |f| %>
        <div class="col-sm-6 col-xs-10">
            <div class="form-group">  
                <%= f.label :code, class: "control-label col-sm-1"%>
                  <div class="col-sm-2">
                      <%= f.text_field :code,autofocus: true , class: "form-control"   %>
                        <%= f.object.errors[:code].to_sentence if f.object.errors[:code] %>
                    </div>
                </div>

                <div class="form-group">  
                    <%= f.label :name,class: "control-label col-sm-1" %>
                      <div class="col-sm-4">
                          <%= f.text_field :name,autofocus: true , class: "form-control " ,onblur: "this.value=this.value.toUpperCase()"  %>
                            <p class="help-block"> <%= f.object.errors[:name].to_sentence if f.object.errors[:name] %></p>
                        </div>
                    </div>

                    <div class="form-group">  
                        <%= f.label :variety,class: "control-label col-sm-1"  %>
                          <div class="col-sm-4">                                         
                              <%= f.text_field :variety,autofocus: true , class: "form-control"  %>                                                
                            </div>
                        </div>


                        <div class="col-sm-6 col-sm-offset-1">
                                                              
                                <% if controller.action_name == "edit" ||  controller.action_name == "update" %>
                                  <button type="reset" id="btn_cancel_crop"class="btn btn-danger btn-space" >Cancelar</button>
                                <%else%>
                                  <button type="reset" class="btn btn-danger btn-space">Cancelar</button>
                                <% end%>
                                <% if controller.action_name == "new"  ||  controller.action_name == "create"%>
                                  <button type="submit" class="btn btn-primary">Guardar</button>
                                <%else%>
                                  <button type="submit" class="btn btn-primary">Actualizar</button>
                                <% end%>


                            
                        </div>
                    </div>

                  <% end %>
              </div>


