<%= form_for(type_of_crop, html: { class: 'form-horizontal' }) do |f| %>

  <div class="field">
      <%= f.label :code %>
      <%= f.text_field :code %>
  </div>

  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
  </div>

  <div class="field">
      <%= f.label :variety %>
      <%= f.text_field :variety %>
  </div>

  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
