
<div class="panel-body">
    <%= form_for(@type_of_crop,html: {class: 'form-horizontal', :"data-toggle"=>"validator"}) do |f| %>
        <div class="col-sm-6 col-xs-10">

            <div class="form-group">  
                <%= f.label :name,"Nombre:",class: "control-label col-sm-2" %>
                  <div class="col-sm-4">
                      <%= f.text_field :name,autofocus: true , class: "form-control " ,onkeyup: "this.value=this.value.toUpperCase()",:"data-error"=>"El nombre no puedo ser vacio,solo permite letras",:pattern => "[a-zA-Z]+", :maxlength => "20", :required => true %>
                        <div class="help-block"> <%= f.object.errors[:name].to_sentence if f.object.errors[:name] %></div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="form-group">  
                    <%= f.label :variety, "variedad:",class: "control-label col-sm-2"  %>
                      <div class="col-sm-4">                                         
                          <%= f.text_area :variety,autofocus: true , class: "form-control"  %>                                                
                        </div>
                    </div>


                    <div class="col-sm-6 col-sm-offset-2">                                                              
                        <% if controller.action_name == "edit" ||  controller.action_name == "update" %>
                          <%= link_to "../../type_of_crops", :controller => "type_of_crops", :action => "index", :type => "button", :class =>"btn btn-danger" do  %>                              
                            Cancelar                       
                          <%end%>  
                        <%else%>
                          <button type="reset" class="btn btn-danger btn-space" >Cancelar</button>

                        <% end%>
                        <% if controller.action_name == "new"  ||  controller.action_name == "create"%>
                          <button type="submit" class="btn btn-primary">Guardar</button>
                        <%else%>
                          <button type="submit" class="btn btn-primary">Actualizar</button>
                        <% end%>                           
                    </div>
                </div>

              <% end %>
          </div>


