</br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Plan De Cuentas</h3>
                <%=render 'layouts/submenu' %>
            </div>

            <div class="panel-body">
                <%=form_for @chart_of_account, url: chart_of_accounts_path,:html => { class: 'form-horizontal' } do |f| %>
                    <div class="col-sm-6 col-sm-offset-2">
                        <div class="form-group"> 
                            <%= f.label :code, class: "control-label col-sm-2 col-sm-offset-1" %>
                              <div class="col-sm-4">
                                  <%= f.text_field :code,  autofocus: true , class: "form-control" %>
                                </div>
                            </div>

                            <div class="form-group"> 
                                <%= f.label :name, class: "control-label col-sm-2 col-sm-offset-1"%>
                                  <div class="col-sm-4">                                      
                                          <%= f.text_field :name,  autofocus: true , class: "form-control" %>                                                                              
                                    </div>
                                </div>                                   

                                <div class="control-group col-sm-offset-3">

                                    <div class="controls">                                             
                                        <button type="reset" class="btn btn-danger">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>

                                </div>
                              <% end %>

                          </div>
                      </div>
                  </div>
              </div>
          </div>