   <%= form_for( @structure_expense, html: { id: 'form_structure_expenses', remote:true,"data-type": "json",'data-model' => 'structure_expense'  } ) do |f| %>

      <div class="col-sm-6 col-lg-12 col-md-12 col-xs-12">
            <div class="row">
               <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                     <%= f.label :program_production_id,"Descripción del gasto :" ,class: " col-sm-6 col-md-8 col-lg-10 col-xs-12"%>
                        <input type="text" name="struc_expense[descr_expense]" id="struc_expense_descr_expense" class="form-control" required/>
                  </div>
               </div>
               <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                     <%= f.label :program_production_id,"Monto del gasto :" ,class: "col-sm-6 col-lg-10 col-xs-12"%>
                     <input type="text" name="struc_expense[subtotal]" id="struc_expense_subtotal"  class="form-control text-right only_numbers" required>
                  </div>
               </div>
                  <btn><a class="btn btn-default btn-sm align_btn" id="btn_add_structure">Agregar</a></btn>
            </div>

            <table 
                  id="tb_structure_expense"
                  data-width="100%"  
                  data-search="false"                
                  class="table table-hover table-striped table-condensed display" 
                  data-toggle="table"
                  data-show-toggle="false"                
                  data-show-refresh="false" 
                  data-pagination="true" 
                  onlyInfoPagination="false" 
                  data-icons="icons" data-sort-name="code" data-sort-order="desc" 
                  data-card-view="false"
                  data-checkbox-header="false"
               >
               <thead>
                  <tr>
                     <th data-field="id" data-checkbox="true" data-checkbox-header="false"></th>
                     <th data-field="code">#</th>
                     <th data-field="descr_expense">Descripción del gasto</th>
                     <th data-field="descr_expense_id"></th>
                     <th data-field="amount"></th>
                     <th data-field="subtotal">Monto</th>
                     <th data-field="subtotal_id"></th>
                     <th data-halign='right' data-align='right' data-field="Action" data-events="remove">Acción</th>
                  </tr>
               </thead>
               <tbody>
                  <% if (controller.action_name == "edit") %>
                        <% @structure_details.each do |structure_details| %>
                           <tr>
                              <td><%= structure_details.id%></td> 
                              <td><%= structure_details.id%></td>
                              <td><%= structure_details.name%></td>
                              <td></td>
                              <td></td>
                              <td><%= number_with_precision( structure_details.subtotal, :precision => 0, :delimiter => '.' ) %></td> 
                              <td></td>
                              <td>
                                 <a class="change_status btn btn-danger btn-sm" href="" title="Cambiar status" >
                                    <i class="fa fa-minus-square"></i>
                                 </a>
                              </td>
                           </tr>
                        <% end %> 
                        <div class="hide">
                           <%= f.hidden_field :total, :value => @total ,:id => "structure_expense_total" %>
                        </div>
                     <% else %>
                        <div class="hide">
                           <%= f.hidden_field :total, :value => 0 ,:id => "structure_expense_total" %>
                        </div>
                     <% end %>

               </tbody>                    
               <tfoot>
                  <tr>
                     <td class="h6 font-weight-bold" colspan="2"><strong>TOTAL:<strong></td>
                     <td colspan="11" class="font-weight-bold text-right">
                        <strong>
                           <span class="structure_expense_total">
                              <%= number_with_precision( @total, :precision => 0, :delimiter => '.' ) %>             
                           </span>
                        </strong>
                     </td>
                  </tr>
               </tfoot>
            </table>
         <%= render('layouts/buttons')%>
         <%= f.hidden_field :program_production_id, :value => @program_production_id %>
         

      </div>
   <% end %>
<input type="hidden" id="controller" value="<%=controller_name%>">
