<p id="notice"><%= notice %></p>

<h1>Structure Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Program production</th>
      <th>Chart of account</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @structure_expenses.each do |structure_expense| %>
      <tr>
        <td><%= structure_expense.program_production %></td>
        <td><%= structure_expense.chart_of_account %></td>
        <td><%= structure_expense.total %></td>
        <td><%= link_to 'Show', structure_expense %></td>
        <td><%= link_to 'Edit', edit_structure_expense_path(structure_expense) %></td>
        <td><%= link_to 'Destroy', structure_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Structure Expense', new_structure_expense_path %>
