<div class="panel-body">
   <%= form_for(@brand,html: {class: 'form-horizontal',id:'form_brands', remote:true}) do |f| %>
      <div class="col-sm-6 col-lg-8 col-md-12">

         <div class="form-group">
            <%= f.label :name,"Marca :" ,class: "control-label col-sm-3"%>
            <div class="col-sm-5">
               <%= f.text_field :name, autofocus: true , class: "form-control upper_text"%>
            </div>
         </div>

         <div class="form-group">
            <%= f.label :description,"Descripción:" ,class: "control-label col-sm-3"%>
            <div class="col-sm-6">
               <%= f.text_area :description, autofocus: true , class: "form-control"%>
            </div>
         </div>

         <%= render('layouts/buttons')%>
      </div>
      <input type="hidden" id="controller" value="<%= controller_name%>">
   <% end %>
</div>