</br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Brand</h3>
                <%=render 'layouts/submenu' %>
            </div>

            <div class="panel-body">
                <%=form_for @brand, url: brands_path,:html => { class: 'form-horizontal' } do |f| %>
                    <div class="col-sm-6 col-sm-offset-2">
                        <div class="form-group">
                            <%= f.label :name ,class: "control-label col-sm-2 col-sm-offset-1"%>
                              <div class="col-sm-4">
                                  <%= f.text_field :name, autofocus: true , class: "form-control", onblur: "this.value=this.value.toUpperCase()"%>
                                </div>
                            </div>
                            <div class="form-group">
                                <%= f.label :description ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                  <div class="col-sm-4">
                                      <%= f.text_field :description, autofocus: true , class: "form-control"%>
                                    </div>
                                </div>
                                <div class="control-group col-sm-offset-4">

                                    <div class="controls">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                        <button type="reset" class="btn btn-danger">Borrar</button>
                                    </div>

                                </div>
                            </div>
                          <% end %>
                      </div>
                  </div>
              </div>
          </div>