<div class="panel-body">
    <table class="table  table-hover table-striped table-condensed display" data-url="brand" id="table_brand" data-toggle="table" data-search="true" data-toolbar="toolbar2" data-show-toggle="true" data-url="type_of_crops" data-show-refresh="false" data-pagination="true" onlyInfoPagination="false" data-sort-name="name" data-sort-order="desc">
        <thead>
            <tr>
                <th data-field="name" style="width: 45%">Nombre</th> 
                <th data-field="description" style="width: 45%">Descripción</th> 
                <th class="text-right" style="width: 10%">Acción</th>
            </tr>
        </thead>
        <tbody>
            <% @brands.each do |brand| %>
             <tr id="tr_<%= brand.id %>">
                 <td><%= brand.name%></td>
                 <td><%= brand.description %></td>
                 <td class="text-right" >
                     <%= link_to edit_brand_path(brand), class: "btn btn-primary btn-sm" do %>
                       <i class="fa fa-1x fa-pencil"></i>
                      <% end %>                            
                      <a type="button" class="btn btn-primary delete btn-sm" data-toggle="modal" data-id="<%= brand.id %>"><i class="fa fa-1x fa-trash"></i></a>
                  </td>
              </tr>
             <% end %>
         </tbody>
     </table>
 </div>
 <input type="hidden" id="controller" value="<%= controller_name%>">