</br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Machine</h3>
                <%=render 'layouts/submenu' %>
            </div>

            <div class="panel-body">
                <%=form_for @machine, url: machines_path,:html => { class: 'form-horizontal' } do |f| %>
                    <div class="col-sm-6 col-sm-offset-2">
                        <div class="form-group">
                            <%= f.label :name ,class: "control-label col-sm-2 col-sm-offset-1"%>
                              <div class="col-sm-5">
                                  <%= f.text_field :name, autofocus: true,placeholder: "TRACTOR", class: "form-control", onblur: "this.value=this.value.toUpperCase()"%>
                                </div>
                            </div>
                            <div class="form-group">
                                <%= f.label :brand_id ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                  <div class="col-sm-5">
                                      <%= f.select(:brand_id, @brands, class: "form-control")  %>    
                                    </div>
                                </div>

                                <div class="form-group">
                                    <%= f.label :model_id ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                      <div class="col-sm-5">
                                          <%= f.collection_select(:model_id, Model.all, :id, :name, class: 'form-control')%> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :hp ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                          <div class="col-sm-5">
                                              <%= f.text_field :hp, placeholder: "ej: 85", class: 'form-control'%> 
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label :consumption, "Coef. Consumption", class: "control-label col-sm-2 col-sm-offset-1"%>
                                              <div class="col-sm-5">
                                                  <%= f.text_field :consumption,placeholder: " ej: 0.12", class: 'form-control'%> 
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= f.label :coeficient_cccr, "Coef. Rep y Maint.", class: "control-label col-sm-2 col-sm-offset-1"%>
                                                  <div class="col-sm-5">
                                                      <%= f.text_field :coeficient_cccr, class: 'form-control'%> 
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <%= f.label :price ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                                      <div class="col-sm-5">
                                                          <%= f.text_field :price, class: 'form-control'%> 
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <%= f.label :time_oper ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                                          <div class="col-sm-5">
                                                              <%= f.text_field :time_oper, class: "form-control"  %>    
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <%= f.label :fuel_id ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                                              <div class="col-sm-5">
                                                                  <%= select("machine","fuel_id", options_for_select(@fuels))%>                                  
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <%= f.label :year_purchase ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                                                <div class="col-sm-5">
                                                                    <%= f.text_field :year_purchase, class: "form-control"  %>    
                                                                  </div>
                                                              </div>

                                                              <div class="control-group col-sm-offset-4">
                                                                  <div class="controls">
                                                                      <button type="submit" class="btn btn-primary">Guardar</button>
                                                                      <button type="reset" class="btn btn-danger">Borrar</button>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            $('#machine_consumption').popover();
                                        </script>