<div class="panel-body">
    <div class="table-responsive">
        <table data-toggle="table" data-url="product"  data-show-refresh="false" data-show-toggle="false" data-show-columns="true" data-search="true" data-select-item-name="maker" data-pagination="true" data-sort-name="maker" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="tradename"  data-sortable="true">Nombre comercial</th>
                    <th data-field="maker" >Marca</th> 
                    <th data-field="unit_of_measurement" >U.M</th>                    
                    <th data-field="price"> Precio</th>
                    <th data-field="dosage" >Dosis</th>
                    <th data-field="cost_per_hectare" >Costo por ha</th>
                    <th data-field="description" >Descripción</th>
                    <th class="text-right">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% @products.each do |product| %>
                 <tr>
                     <td><%= product.tradename%></td>
                     <td><%= product.maker%></td>
                     <td><%= product.unit_of_measurement.abbreviation%></td>                    
                     <td><%= number_to_currency product.price%></td>
                     <td><%= product.dosage%></td>
                     <td><%= number_to_currency product.cost_per_hectare%></td>
                     <td><%= product.description%></td>
                     <td class="text-right">                     
                         <%= link_to edit_product_path(product), class: "btn btn-primary btn-sm" do %>
                           <i class="fa fa-1x fa-pencil"></i>
                          <% end %>                            
                          <a type="button" id="" data-id="<%= product.id %>" class="btn btn-primary btn-sm delete" data-loading-text="Loading...">
                              <i class="fa fa-1x fa-trash"></i>
                          </a>                     
                      </td>
                  </tr>
                 <% end %>
             </tbody>
         </table>
     </div>
 </div>

