<div class="panel-body">
    <table data-toggle="table" data-url="supply"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="tradename" data-sort-order="desc">
        <thead>
            <tr>
                <th data-field="maker" >Marca</th> 
                <th data-field="unit_of_measurement" >U.M</th>                            
                <th data-field="tradename"  data-sortable="true">Nombre comercial</th>
                <th data-field="price" data-sortable="true"> Precio</th>
                <th data-field="dosage" >Dosis</th>
                <th data-field="cost_per_hectare" >Costo por ha</th>
                <th data-field="description" >Descripción</th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
             <tr>
                 <td><%= product.id%></td>

                 <td><%= product.unit_of_measurement.abbreviation%></td>
                 <td><%= product.tradename%></td>
                 <td><%= number_to_currency product.price%></td>
                 <td><%= product.dosage%></td>
                 <td><%= number_to_currency product.cost_per_hectare%></td>
                 <td><%= product.description%></td>

             </tr>
            <% end %>
        </tbody>
    </table>
</div>

