<div class="panel-heading clearfix ">
    <h5 class="panel-title pull-left" style="padding-top: 7.5px;"> Combustible </h5>   
</div>
<div class="panel-body">
    <%=form_for @fuel, url: fuels_path,:html => { class: 'form-horizontal' } do |f| %>
      <div class="col-sm-6 col-xs-10">
          <div class="form-group">  
              <%= f.label :name,class: "control-label col-sm-2" %>
               <div class="col-sm-4">
                   <%= f.text_field :name,autofocus: true , class: "form-control " ,onblur: "this.value=this.value.toUpperCase()"  %>
                    <p class="help-block"> <%= f.object.errors[:name].to_sentence if f.object.errors[:name] %></p>
                </div>
            </div>

            <div class="form-group">  
                <%= f.label :price,class: "control-label col-sm-2"  %>
                 <div class="col-sm-4">                                         
                     <%= f.text_field :price,autofocus: true , class: "form-control"  %>                                                
                  </div>
              </div>
              <div class="form-group">  
                  <%= f.label :description,class: "control-label col-sm-2"  %>
                   <div class="col-sm-4">                                         
                       <%= f.text_area :description,autofocus: true , class: "form-control"  %>                                                
                    </div>
                </div>

                <%= render('layouts/error_lists')%>

                <%= render('layouts/buttons')%>
            </div>

           <% end %>
       </div>










