<div class="panel-body">
    <div class="table-responsive">
        <table data-width="100%"  
        data-flat="true"
        data-response-handler="flatJSON"
        data-search="true"                
        class="table table-hover table-striped table-condensed display" 
        data-toggle="table"
        data-show-toggle="true"                
        data-show-refresh="false" 
        data-pagination="true" 
        onlyInfoPagination="false" 
        data-icons="icons" data-sort-name="code" data-sort-order="desc" 
        data-card-view="false"
        >
        <thead>
            <tr>
                <th data-field="id">#</th> 
                <th data-field="name" >Nombre</th> 
                <th data-field="price" >Precio</th>                            
                <th data-field="description"  data-sortable="true">Descripción</th>                            
                <th data-halign="right" data-align="right"  data-switchable="false" data-formatter="actionFormatter" data-events="actionEvents">Acción</th>
            </tr>
        </thead>
        <tbody>
            <% @fuels.each do |fuel| %>
            <tr>
               <td><%= fuel.id%></td>
               <td><%= fuel.name %></td>
               <td><%= fuel.price %></td>
               <td><%= fuel.description %></td>                             
               <td></td>                             
           </tr>
           <% end %>
       </tbody>
   </table>
</div>
<input type="hidden" id="controller" value="<%= controller_name%>">
