<nav class="navbar navbar-default navbar-static-top nav_top_sarah" role="navigation" style="margin-bottom: 0" data-turbolinks-partial="breadcrump">
            <div class="navbar-header nav_left_sarah">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sarah | Presupuesto Agrícola</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.verify state user exists -->
                <% if current_user.blank?%>
                    redirect_to home
                <%end%>  
                <!-- /. end -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/"><i class="fa fa-user fa-fw"></i> 
                                <% unless current_user.blank?%>
                                    <%= current_user.email %>
                                <%end%>
                            </a>
                        </li>
                        <%# if current_user.role_id==1%>
                            <li>
                                <%= link_to  edit_user_registration_path do %>                        
                                    <i class="fa fa-fw fa-gear"></i> &nbsp; Perfil                        
                                <%end%>
                            </li>
                        <%#end%>
                        <li class="divider"></li>
                        <li>
                         <%= link_to  destroy_user_session_path, :method => 'delete' do %>
                            <i class="fa fa-sign-out fa-fw"></i>&nbsp; Salir
                            <%end%>     
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
           <!-- /.menu de usuario -->   
           
            <div class="navbar-default sidebar nav_left_sarah" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Buscar...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-home" aria-hidden="true" ></i> Inicio</a>
                        </li>

                         
                        <li>
                            <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i> Catastros<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">                              
                                <li>
                                    <a href="#"><i class="fa fa-pagelines" aria-hidden="true"></i> Parcela <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li class="">
                                            <% if controller.controller_name == 'farming_plots' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Parcela', new_farming_plot_path %>
                                            <% else %>
                                                <%= link_to  'Parcela', farming_plots_path %>
                                            <% end %>                                            
                                        </li>

                                        <li class="">
                                            <% if controller.controller_name == 'type_of_crops' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Tipo de cultivo', new_type_of_crop_path %>
                                            <% else %>
                                                <%= link_to  'Tipo de cultivo', type_of_crops_path %>
                                            <% end %>                                            
                                        </li>
                                        <li class="">
                                            <% if controller.controller_name == 'history_sales' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Histórico de Produción', new_history_sale_path %>
                                            <% else %>
                                                <%= link_to  'Histórico de Produción', history_sales_path %>
                                            <% end %>                                            
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>

                                <li>
                                    <a href="#"><i class="fa  fa-truck  " aria-hidden="true" ></i> Máquinas & Implementos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li class="">
                                            <% if controller.controller_name == 'brands' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Marca', new_brand_path %>
                                            <% else %>
                                                <%= link_to  'Marca', brands_path %>
                                            <% end %>                                            
                                        </li>
                                        <li class="">
                                            <% if controller.controller_name == 'models' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Modelo', new_model_path %>
                                            <% else %>
                                                <%= link_to  'Modelo', models_path %>
                                            <% end %>                                            
                                        </li>
                                        <li class="">
                                            <% if controller.controller_name == 'implements' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Modelo', new_implement_path %>
                                            <% else %>
                                                <%= link_to  'Modelo', implements_path %>
                                            <% end %>                                            
                                        </li>
                                        <li class="">
                                            <% if controller.controller_name == 'machines' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Maquinária', new_machine_path %>
                                            <% else %>
                                                <%= link_to  'Maquinária', machines_path %>
                                            <% end %>                                            
                                        </li> 
                                     <li>
                                        <% if controller.controller_name == 'type_machines' &&  controller.action_name == 'new' %>
                                            <%= link_to  'Clasificación', new_type_machine_path %>
                                        <% else %>
                                            <%= link_to  'Clasificación', type_machines_path %>
                                        <% end %>                                            
                                     </li>

            
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-book" aria-hidden="true"></i> Productos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li class="">
                                            <% if controller.controller_name == 'products' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Productos', new_product_path %>
                                            <% else %>
                                                <%= link_to  'Productos', products_path %>
                                            <% end %>                                            
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li> 
                                <li>
                                    <a href="#"><i class="fa fa-male" aria-hidden="true"></i> Personas <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li class="">
                                            <% if controller.controller_name == 'people' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Funcionário', new_person_path %>
                                            <% else %>
                                                <%= link_to  'Funcionário', people_path %>
                                            <% end %>                                            
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                 <li>
                                    <a href="#">Tipos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li class="">
                                            <% if controller.controller_name == 'type_of_services' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Tipo de servicio', new_type_of_service_path %>
                                            <% else %>
                                                <%= link_to  'Tipo de servicio', type_of_services_path %>
                                            <% end %>                                            
                                        </li>
                                        <li class="">
                                            <% if controller.controller_name == 'type_of_works' &&  controller.action_name == 'new' %>
                                                <%= link_to  'Tipo de trabajo', new_type_of_work_path %>
                                            <% else %>
                                                <%= link_to  'Tipo de trabajo', type_of_works_path %>
                                            <% end %>                                            
                                        </li>

            
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <!-- Begin create estimate production -->
                        <li>
                            <a href="#"><i class="fa fa-cubes" aria-hidden="true"></i> Crear Estimación<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                              
                                <li>
                                    <li class="" id="estimate_sales" >
                                        <% if controller.controller_name == 'estimate_sales' &&  controller.action_name == 'new' %>
                                            <%= link_to 'Estimación de Ventas', new_estimate_sale_path %>
                                        <% else %>
                                            <%= link_to 'Estimación de Ventas', estimate_sales_path %>
                                        <% end %>
                                            
                                    </li>

                                    <li class="" id="program_productions">
                                        <% if controller.controller_name == 'program_productions' &&  controller.action_name == 'new' %>
                                            <%= link_to 'Programa de producción', new_program_production_path %>
                                        <% else %>
                                            <%= link_to 'Programa de producción', program_productions_path %>
                                        <% end %>
                                            
                                    </li>

                                    <li class="">
                                        <% if controller.controller_name == 'supplies' &&  controller.action_name == 'new' %>
                                            <%= link_to 'Insumos', new_supply_path %>
                                        <% else %>
                                            <%= link_to 'Insumos', supplies_path %>
                                        <% end %>
                                    </li>


                                    <li class="">
                                        <% if controller.controller_name == 'cost_oper_machine_conts' &&  controller.action_name == 'new' %>
                                            <%= link_to 'Costo Oper. Maquinária Tercerizada', new_cost_oper_machine_cont_path %>
                                        <% else %>
                                            <%= link_to 'Costo Oper. Maquinária Tercerizada', cost_oper_machine_conts_path %>
                                        <% end %>
                                    </li>

                                    <li class="">
                                        <% if controller.controller_name == 'cost_oper_machines' &&  controller.action_name == 'new' %>
                                            <%= link_to  'Costo Oper. Maquinária Propia', new_cost_oper_machine_path %>
                                        <% else %>
                                            <%= link_to  'Costo Oper. Maquinária Propia', cost_oper_machines_path %>
                                        <% end %>
                                    </li>

                                    <li class="">
                                        <% if controller.controller_name == 'man_powers' &&  controller.action_name == 'new' %>
                                            <%= link_to  'Mano de Obra', new_man_power_path %>
                                        <% else %>
                                            <%= link_to  'Mano de Obra', man_powers_path %>
                                        <% end %>
                                    </li>

                                     

                                     <li class="">
                                        <% if controller.controller_name == 'manu_indi_expenses' &&  controller.action_name == 'new' %>
                                            <%= link_to  'Gastos indirectos', new_manu_indi_expense_path %>
                                        <% else %>
                                            <%= link_to  'Gastos indirectos', manu_indi_expenses_path %>
                                        <% end %>
                                    </li>
                                     
                                    <li class="">
                                        <% if controller.controller_name == 'structure_expenses' &&  controller.action_name == 'new' %>
                                            <%= link_to  'Gastos de Estructura', new_structure_expense_path %>
                                        <% else %>
                                            <%= link_to  'Gastos de Estructura', structure_expenses_path %>
                                        <% end %>
                                    </li>

                                    <li class="">
                                        <% if controller.controller_name == 'mark_spendings' &&  controller.action_name == 'new' %>
                                            <%= link_to  'Gastos de comercialización', new_mark_spending_path %>
                                        <% else %>
                                            <%= link_to  'Gastos de comercialización', mark_spendings_path %>
                                        <% end %>
                                    </li>

                                     
                                    <!-- /.nav-third-level -->
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <!-- End create estimate production -->
                        <li>
                            <a href="#"><i class="fa fa-paperclip"></i> Auxiliares<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li class="">
                                    <% if controller.controller_name == 'fuels' &&  controller.action_name == 'new' %>
                                        <%= link_to  'Combustible', new_fuel_path %>
                                    <% else %>
                                        <%= link_to  'Combustible', fuels_path %>
                                    <% end %>
                                </li>
                                <li class="<%= 'active' if params[:controller] == 'unit_of_measurements' && params[:action] == 'index' %>">
                                    <% if controller.controller_name == 'unit_of_measurements' &&  controller.action_name == 'new' %>
                                        <%= link_to  'Unid. de Medida', new_unit_of_measurement_path %>
                                    <% else %>
                                        <%= link_to  'Unid. de Medida', unit_of_measurements_path %>
                                    <% end %>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="divider"></li>
                        <li>
                            <li class="<%= 'active' if params[:controller] == 'income_statements' && params[:action] == 'index' %>">
                                 <%= link_to  income_statements_path do %>                        
                                    <i class="fa fa-area-chart" aria-hidden="true"></i> &nbsp;Cuenta de resultados 
                                <%end%>
                            </li>

                            
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
