<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>
            Sarah - Presupuesto Agricola
        </title>
        <!--estos links abajo hacen que levante las librerias css y js-->
        <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => "reload" %>
        <%= stylesheet_link_tag "personalize.css"%>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="wrapper">
            <header> 
                <%=render 'layouts/navigation' %>
            </header>
            <div id="page-wrapper">                
                <div class="container-fluid">                    
                    <div class="col-md-12 col-xs-12 ">
                    <br>
                         <%= render 'layouts/breadcrump' %>
                        <div class="panel panel-primary panel-sarah">                             
                            <% if controller.controller_name != "home" && controller.action_name != "edit"%> 
                             <div class="panel-heading clearfix panel-sarah">  <h5 class="panel-title col-lg-offset-3 text-left"></h5>
                                 <%= render 'layouts/submenu' %>
                             </div> 
                            <% elsif controller.controller_name != "home" %>
                             <div class="panel-heading clearfix">  
                                 <h1 class="panel-title text-center">Editar</h1>                   
                             </div> 
                            <% end %>
                                <%= render 'layouts/messages' %>
                            <br>
                            <div class="col-xs-6 col-lg-6">
                                <div id="alerta" class="alert  alert_sarah hide" role="alert">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span></span>
                                </div>
                            </div>
                            <%= yield %>

                        </div>          

                    </div>
                </div>
            </div>

            <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
            <script>
              <%= yield :js %>
              <!-- js para activar/desactivar submenu -->

                       var actionName = "<%=controller.action_name %>";
                       if (actionName === "index") {
                         $("#submenu_index").addClass("active");
                       }
                       else if (actionName === "new" || actionName === "create") {
                         $("#submenu_new").addClass("active");
                       }

                       var controllerName = "<%= params[:controller] || controller.name %>";
                       if (controllerName == "default") {
                         $("#menu_home").addClass("active");
                       }
                       else
                       {
                         $("#menu_home").removeClass("active");
                         $("#menu_" + controllerName).addClass("active");
                       }

            </script>
            
        </div>         
    </body>

</html>
<!--/.main-->
