<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>
            Sarah - Presupuesto Agricola
        </title>
        <!--estos links abajo hacen que levante las librerias css y js-->
        <%= stylesheet_link_tag "bootstrap.min.css" %>
        <%= stylesheet_link_tag "sb-admin.css" %>
        <%= stylesheet_link_tag "font-awesome.min.css" %>
        <%= stylesheet_link_tag "personalize.css" %>

        <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
        <%= javascript_include_tag 'jquery_ujs' %>
        <%=javascript_include_tag "bootstrap.min.js"%>
        <%=javascript_include_tag "utils.js"%>
        <%= csrf_meta_tags %>

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <!--icons lumino-->


    </head>
    <body>
        <div id="wrapper">
            <header> 
                <%=render 'layouts/navigation' %>
            </header>
            <!--/.row-->

            <div id="page-wrapper">                
                <div class="container-fluid">                    
                    <div class="col-md-12 col-xs-12 ">
                        <div class="panel panel-default">                            
                            <% if controller.controller_name != "home" %>                                               
                              <%= render 'layouts/submenu' %>
                            <%end%>                         
                            <%= render 'layouts/messages' %>
                            <%= yield %>

                        </div>          

                    </div>

                </div>
                </body>
                <script>
<%= yield :js %>
                </script>
                </html>
                <!--/.main-->
