<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>
            Sarah - Presupuesto Agricola
        </title>
        <!--estos links abajo hacen que levante las librerias css y js-->
        <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
        <%= javascript_include_tag 'jquery_ujs' %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag "bootstrap.min.css" %>
        <%= stylesheet_link_tag "datepicker3.css" %>
        <%= stylesheet_link_tag "styles.css" %>
        <!--icons lumino-->

        <%=javascript_include_tag "bootstrap.min.js"%>
        <style rel="stylesheet">
            #subs { margin-top: 2%; }
        </style>

    </head>
    <body>
        <header> 
            <%=render 'layouts/navigation' %>
        </header>
        <!--/.row-->
        <div class="container-fluid">
            <div class="row-fluid">

                <div class="col-lg-10 col-sm-offset-2">
                    <%= render 'layouts/messages' %>

                    <script>
<%= yield :js %>
                    </script>


                    <%= yield %>

                </div>             
            </div>
        </div>


    </body>
</html>
<!--/.main-->
