<div class="panel-body">
    <%=form_for @implement, url: implements_path,:html => { class: 'form-horizontal' } do |f| %>
      <div class="col-xs-12 col-lg-8 col-sm-12">

          <div class="form-group">
              <%= f.label :name,"Nombre :" ,class: "control-label col-sm-2"%>
               <div class="col-sm-5">
                   <%= f.text_field :name, autofocus: true , class: "form-control"%>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :brand, "Marca :" ,class: "control-label col-sm-2"%>
                 <div class="col-sm-4">
                     <%= f.text_field :brand, autofocus: true , class: "form-control"%>
                  </div>
              </div>

              <div class="form-group">
                  <%= f.label :model, "Modelo :" ,class: "control-label col-sm-2"%>
                   <div class="col-sm-4">
                       <%= f.text_field :model, autofocus: true , class: "form-control"%>
                    </div>
                </div>
          
                <div class="form-group">
                    <%= f.label "Tiempo Operativo :" ,class: "control-label col-sm-2"%>
                     <div class="col-sm-2">
                         <%= f.text_field :oper_time, autofocus: true , class: "form-control"%>
                      </div>                   
                      <a href="#" class="btn btn-default col-xs-offset-2 col-lg-offset-0" id="openBtn"><i class="fa fa-calculator" aria-hidden="true"></i> Calcular</a>
                  </div>

                  <div class="form-group">
                      <%= f.label :machine_id,"Máquina :" ,class: "control-label col-sm-2"%>
                       <div class="col-sm-3">
                           <%= f.select :machine_id, options_for_select(@machines, f.object.machine_id), {}, { :class => 'form-control', :required => true }%>
                       </div>
                   </div>

                   <div class="form-group">
                       <%= f.label :coef_cccr, "Coef. de Consumo :" ,class: "control-label col-sm-2"%>
                        <div class="col-sm-2">
                            <%= f.text_field :coef_cccr, autofocus: true , class: "form-control"%>
                         </div>
                     </div>

                     <div class="form-group">
                         <%= f.label :year, "Ano" ,class: "control-label col-sm-2"%>
                          <div class="col-sm-1">
                              <%= f.text_field :year, autofocus: true , class: "form-control"%>
                           </div>
                       </div>

                       <div class="form-group">
                           <%= f.label :price, "Precio :" ,class: "control-label col-sm-2"%>
                            <div class="col-sm-3">
                                <%= f.text_field :price, autofocus: true , class: "form-control"%>
                             </div>
                         </div>

                         <%= render('layouts/buttons')%>
                     </div>
                    <% end %>
                </div>
                <input type="hidden" id="controller" value="<%=controller_name%>">