
</br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="center">Implements</h3>
                <%=render 'layouts/submenu' %>
            </div>

            <div class="panel-body">
                <%=form_for @implement, url: implements_path,:html => { class: 'form-horizontal' } do |f| %>
                    <div class="col-sm-6 col-sm-offset-2">

                        <div class="form-group">
                            <%= f.label :name ,class: "control-label col-sm-2 col-sm-offset-1"%>
                              <div class="col-sm-5">
                                  <%= f.text_field :name, autofocus: true , class: "form-control"%>
                                </div>
                            </div>
                            <div class="form-group">
                                <%= f.label :brand ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                  <div class="col-sm-5">
                                      <%= f.text_field :brand, autofocus: true , class: "form-control"%>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <%= f.label :model ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                      <div class="col-sm-5">
                                          <%= f.text_field :model, autofocus: true , class: "form-control"%>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label "Time Operative" ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                          <div class="col-sm-5">
                                              <%= f.text_field :oper_time, autofocus: true , class: "form-control"%>
                                            </div>
                                         <a href="#" class="btn btn-default" id="openBtn">Calculate</a>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label :machine_id ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                              <div class="col-sm-5">
                                                  <%= f.select :machine_id, options_for_select(@machines)%>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= f.label "Coef_Maint." ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                                  <div class="col-sm-5">
                                                      <%= f.text_field :coef_cccr, autofocus: true , class: "form-control"%>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <%= f.label :year ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                                      <div class="col-sm-5">
                                                          <%= f.text_field :year, autofocus: true , class: "form-control"%>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <%= f.label :price ,class: "control-label col-sm-2 col-sm-offset-1"%>
                                                          <div class="col-sm-5">
                                                              <%= f.text_field :price, autofocus: true , class: "form-control"%>
                                                            </div>
                                                        </div>
                                                        <div class="control-group col-sm-offset-4">

                                                            <div class="form-group controls">
                                                                <button type="submit" class="btn btn-primary">Save</button>
                                                                <button type="reset" class="btn btn-danger">Cancel</button>
                                                            </div>

                                                        </div></div>
                                                  <% end %>
                                              </div>
                                          </div>
                                      </div>
                                  </div>