<div class="panel-body">
    <div class="table-responsive">
          <table    data-width="100%"
                    class="table  table-hover table-striped table-condensed display"
                    data-toggle="table" 
                    data-search="true" 
                    data-toolbar="toolbar1"
                    data-show-toggle="true"
                    data-show-refresh="false"
                    data-pagination="true"
                    onlyInfoPagination="false"
                    data-icons="icons"
                    data-height="380"
                    data-sort-name="name"
                    data-sort-order="desc" 
                    data-card-view="false">
            <thead>
                <tr>
                    <th class="col-xs-6 col-md-2 col-sm-2 col-lg-6" data-visible="false" class="hidden" data-field="id">C칩digo</th>
                    <th class="col-xs-6 col-md-2 col-sm-2 col-lg-2" data-field="machine_id">M치quina</th>
                    <th class="col-xs-6 col-md-2 col-sm-2 col-lg-2" data-sortable="true" data-field="brand">Marca</th>
                    <th  class="col-xs-6 col-md-2 col-sm-2 col-lg-2" data-sortable="true" data-field="name">Nombre</th>
                    <th class="col-xs-2 col-md-2 col-sm-2 col-lg-2" data-sortable="true" data-field="model">Modelo</th>
                    <th class="col-xs-6 col-md-2 col-sm-2 col-lg-2" data-field="oper_time">Tiempo Op.</th>
                    <th class="col-xs-6 col-md-2 col-sm-2 col-lg-2" data-field="coef_cccr">Coef. RM</th>
                    <th class="col-xs-6 col-md-2 col-sm-2 col-lg-1" data-field="year">A침o</th>
                    <th class="col-xs-6 col-md-2 col-sm-2 col-lg-2" data-halign="left" data-align="right" data-field="price">Precio</th>
                    <th class="col-xs-1 col-md-4 col-sm-4 col-lg-4" data-halign="right" data-align="right" data-formatter="actionFormatter" data-events="actionEvents">Acci칩n</th>
                </tr>
            </thead>
            <tbody>
                <% @implements.each do |implement| %>
                 <tr>
                    <td><%= implement.id %></td>
                    <td><%= implement.machine.model.name %></td>
                    <td><%= implement.brand %></td>
                    <td><%= implement.name %></td>                    
                    <td><%= implement.model %></td>
                    <td><%= implement.oper_time %></td>
                    <td><%= implement.coef_cccr%></td>                   
                    <td><%= implement.year %></td>
                    <td><%= number_with_precision(implement.price, :precision => 0, :delimiter => '.') %></td>
                  </tr>
                <% end %>
             </tbody>
         </table>
     </div>
 </div>
 <input type="hidden" id="controller" value="<%=controller_name%>">